<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - About Us</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/aboutus.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Heim</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Stellenangebote</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sprache</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norwegisch</a></li>
                            <li><a href="../sv/index.html">Schwedisch</a></li>
                            <li><a href="../fi/index.html">Finnisch</a></li>
                            <li><a href="../da/index.html">Dänisch</a></li>
                            <li><a href="../is/index.html">Isländisch</a></li>
                            <li><a href="../de/index.html">Deutsch</a></li>
                            <li><a href="../fr/index.html">Französisch</a></li>
                            <li><a href="../en/index.html">Englisch</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="content1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 maintext">
                    <h3>Wer wir sind</h3>
                    <p>
                        Peach People ist nicht nur unser Verkaufsunternehmen; es repräsentiert das Herz unserer Geschäftstätigkeit. Als interne Drehscheibe konzipiert,
                         kümmert sich diese Abteilung ausschließlich um die engagierten Verkaufsvertreter des Unternehmens und stellt sicher, dass sie alles haben, 
                         was sie zum Erfolg brauchen.
                    </p>
                    <p>
                        Mit einer Präsenz in mehreren Ländern haben unsere verschiedenen Abteilungen einen Hauptfokus auf Vertrieb und Marketing, was sicherstellt, 
                        dass wir unser Engagement für Qualität und Innovation in diesen Bereichen beibehalten.
                    </p>
                    <p>
                        Darüber hinaus bietet die Abteilung, als Teil unseres anhaltenden Engagements für Wachstum und Talentakquisition, auch einen Weg für 
                        potenzielle Kandidaten. Sie können leicht verschiedene Jobmöglichkeiten innerhalb unserer Organisation erkunden und sich darauf bewerben, 
                        was sicherstellt, dass wir weiterhin ein starkes, dynamisches Team aufbauen.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="whatarewe" src="../../img/managment.png" alt="What Are We">
                </div>
            </div>
        </div>
    </section>

    <section class="story">
        <div class="contaioner">
            <h3>Unser Ziel ist es, die weltweite Armut im nächsten Jahrzehnt um 5% zu reduzieren.</h3>
        </div>
    </section>

    <section class="meet-our-team">
        <div class="container">
            <h2>Meet Our Team</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie-Einwilligungsmodal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Diese Seite verwendet Cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Auf unserer Website verwenden wir Cookies, um die Benutzererfahrung zu verbessern, unsere Website zu optimieren und für Marketingzwecke.
                    Durch Klicken auf "Akzeptieren" stimmen Sie der Verwendung dieser Cookies zu.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Zustimmen</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Ablehnen</button>
                <button type="button" class="btn" id="customizeBtn">Cookies anpassen</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Diese Seite verwendet Cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Notwendige Cookies - können nicht deaktiviert werden</h5>
                    </div>
                        <!-- Umschaltknopf -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Notwendige Cookies behandeln grundlegende Funktionen wie die Seitennavigation und den Zugriff auf sichere Bereiche der Website. Die Website kann ohne diese Cookies nicht optimal funktionieren.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marketing</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Umschaltknopf -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Dieser Cookie hilft uns, Benutzer zu finden, die an Informationen zu verschiedenen Themen interessiert sind, damit wir Ihnen relevante Werbeanzeigen von uns zur Verfügung stellen können.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Speichern und schließen</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Mehr erfahren</button>
            </div>
        </div>
    </div>  

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Kontaktieren Sie uns</h4>
                    <p>E-Mail: star@peachgroup.no</p>
                    <p>Telefon: (+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Folgen Sie uns auf</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/WeThePeopleCompany" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/the.peoplecompany/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/the.peoplecompany/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-group-as/?originalSubdomain=no" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Abonnieren Sie unseren Newsletter</h4>
                    <p>Bleiben Sie auf dem Laufenden mit unseren neuesten Nachrichten und Kampagnen.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Geben Sie Ihre E-Mail-Adresse ein">
                        <button type="submit" class="subscribeNews" data-language="German">Abonnieren</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Alle Rechte vorbehalten.</p>
        </div>
    </footer>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../public/js/header.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>

  <script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'de');
    });
</script>
    
</body>
</html>