<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peach People - Vacancies</title>
    <link rel="icon" type="image/png" href="../../img/logo.png" />
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/css/career.css" />
    <link rel="stylesheet" href="../../public/css/header.css" />
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link rel="stylesheet" href="../../public/css/sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    
</head>

<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link">Heim</a></li>
                    <li class="nav-item active"><a href="career.html" class="nav-link">Stellenangebote</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sprache</a>
                        <ul class="dropdown-menu language-dropdown">
                          <li><a href="../no/index.html">Norwegisch</a></li>
                          <li><a href="../sv/index.html">Schwedisch</a></li>
                          <li><a href="../fi/index.html">Finnisch</a></li>
                          <li><a href="../da/index.html">Dänisch</a></li>
                          <li><a href="../is/index.html">Isländisch</a></li>
                          <li><a href="../de/index.html">Deutsch</a></li>
                          <li><a href="../fr/index.html">Französisch</a></li>
                          <li><a href="../en/index.html">Englisch</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
  <div class="headerimg">
    <div class="overlay"></div>
    <div class="text">Möchtest du Teil unseres Teams werden?</div>
    <div class="subtext mt-4">
        Bei Peach People gehen wir Wohltätigkeit auf eine völlig neue Weise an und sind auf der Suche nach engagierten Personen, die die Zukunft gemeinsam mit uns gestalten möchten.
    </div>
  </div>
  <div class="values-section">
    <h1 class="values-heading">Unsere Kernwerte</h1>
    <div class="row value-list">
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🌟</div>
          <h3 class="value-title">Innovation</h3>
          <p class="value-description">Wir nehmen kreatives Denken in unsere Arme und fördern neue Ideen in allem, was wir tun.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🤝</div>
          <h3 class="value-title">Zusammenarbeit</h3>
          <p class="value-description">Wir stützen uns auf eine Kultur der Teamarbeit, Kommunikation und gegenseitigen Respekts.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🌎</div>
          <h3 class="value-title">Vielfalt</h3>
          <p class="value-description">Wir feiern die Vielfalt und glauben, dass sie unsere Perspektiven und Lösungen bereichert.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🔍</div>
          <h3 class="value-title">Transparenz</h3>
          <p class="value-description">Wir handeln ehrlich, offen und mit klarer Kommunikation.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🔥</div>
          <h3 class="value-title">Begeisterung</h3>
          <p class="value-description">Wir sind unseren Zielen verpflichtet und bringen Begeisterung in alles, was wir tun.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card value-cd">
          <div class="value-icon">🌱</div>
          <h3 class="value-title">Wachstumsmentalität</h3>
          <p class="value-description">Wir begegnen Herausforderungen, lernen aus unseren Fehlern und streben ständig danach, uns zu verbessern.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="workwithus">
    <div class="container">
      <p>
        Peach People ist ein vielfältiger Arbeitsplatz mit 120 Mitarbeitern aus verschiedenen Hintergründen, Fachkenntnissen und Aufgabenbereichen. 
        Mit Büros in Oslo und Göteborg haben wir eine offene Atmosphäre, in der wir schätzen, dass jeder Mitarbeiter die Freiheit hat, sich in seiner 
        Rolle weiterzuentwickeln, während er seine Arbeit genießt. Sind Sie bereit, einen Unterschied zu machen?
      </p>
      <p>
        Entdecken Sie spannende Karrieremöglichkeiten hier. 👇
      </p>
    </div>
  </section>

  <section class="openPosition">  
      <h1 class="text-center mb-4">Offene Stellen</h1>
      <div class="row">
        <div class="container joblistcontainer mb-4">
          <ul class="joblisting">
              <li class="joblist"><a href="generalmanager.html" class="jobdescriptionpage">Geschäftsführer</a></li>
          </ul>
        </div>
      </div>
  </section>

  <!-- Overlay background -->
  <div class="overlay" id="overlay"></div>
  <!-- Cookie-Einwilligungsmodal -->
  <div id="cookieConsent">
      <div class="container">
          <div class="cookieheading">
              <h4>Diese Seite verwendet Cookies</h4>
          </div>
          <div class="cookiecontent">
              <p>
                  Auf unserer Website verwenden wir Cookies, um die Benutzererfahrung zu verbessern, unsere Website zu optimieren und für Marketingzwecke.
                  Durch Klicken auf "Akzeptieren" stimmen Sie der Verwendung dieser Cookies zu.
              </p>
          </div>
          <div id="cookieConsentButtons">
              <button type="button" class="btn btn-success" id="acceptBtn">Zustimmen</button>
              <button type="button" class="btn btn-danger" id="rejectBtn">Ablehnen</button>
              <button type="button" class="btn" id="customizeBtn">Cookies anpassen</button>
          </div>
      </div>
  </div>
  <div class="customizecookie d-none">
      <div class="container">
          <div class="cookieheading cookiHeadingForCustomize">
              <h4>Diese Seite verwendet Cookies</h4>
          </div>
          <div class="necessarycookie">
              <div class="row necesarryHeadingSetting">
                  <div class="col-9 necessaryheading">
                      <h5>Notwendige Cookies - können nicht deaktiviert werden</h5>
                  </div>
                      <!-- Umschaltknopf -->
                  <div class="col-3 setChoice">
                      <label class="onoff-switch">
                          <input type="checkbox" id="necessaryCheckbox" checked disabled>
                          <span class="onoff-slider"></span>
                      </label>
                  </div>
              </div>
              
              <div class="necessarycontent">
                  <p>
                      Notwendige Cookies behandeln grundlegende Funktionen wie die Seitennavigation und den Zugriff auf sichere Bereiche der Website. Die Website kann ohne diese Cookies nicht optimal funktionieren.
                  </p>
              </div>
          </div>
          <div class="marketing">
              <div class="row necesarryHeadingSetting">
                  <div class="col-9 necessaryheading">
                      <h5>Marketing</h5>
                  </div>
                  <div class="col-3 setChoice">
                      <!-- Umschaltknopf -->
                      <label class="onoff-switch">
                          <input type="checkbox" id="marketingCheckBox" checked>
                          <span class="onoff-slider"></span>
                      </label>
                  </div>
              </div>

              <div class="necessarycontent">
                  <p>
                      Dieser Cookie hilft uns, Benutzer zu finden, die an Informationen zu verschiedenen Themen interessiert sind, damit wir Ihnen relevante Werbeanzeigen von uns zur Verfügung stellen können.
                  </p>
              </div>

          </div>
          <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-success" id="saveAndCloseCookies">Speichern und schließen</button>
              <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Mehr erfahren</button>
          </div>
      </div>
  </div>  
 
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Kontaktieren Sie uns</h4>
                <p>E-Mail: star@peachgroup.no</p>
                <p>Telefon: (+47) 982 34 223</p>
            </div>
            <div class="col-md-4">
                <h4>Folgen Sie uns auf</h4>
                <div class="social-icons">
                  <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                  <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="col-md-4">
                <h4>Abonnieren Sie unseren Newsletter</h4>
                <p>Bleiben Sie auf dem Laufenden mit unseren neuesten Nachrichten und Kampagnen.</p>
                <form class="subscribe-form">
                  <input type="email" id="newsletter" placeholder="Geben Sie Ihre E-Mail-Adresse ein">
                  <button type="submit" class="subscribeNews" data-language="German">Abonnieren</button>
                </form>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2023 Peach People. Alle Rechte vorbehalten.</p>
    </div>
</footer>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../public/js/header.js"></script>
  <script src="../../public/js/career.js"></script>
  <script src="../../public/js/sweetalert2.all.min.js"></script>
  <script src="../../public/js/sweetalert2.min.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>
  <script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'de');
    });
</script>
</body>

</html>