<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - Privacy Policy</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link">Heim</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link">Stellenangebote</a></li>
                    <li class="nav-item active"><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sprache</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norwegisch</a></li>
                            <li><a href="../sv/index.html">Schwedisch</a></li>
                            <li><a href="../fi/index.html">Finnisch</a></li>
                            <li><a href="../da/index.html">Dänisch</a></li>
                            <li><a href="../is/index.html">Isländisch</a></li>
                            <li><a href="../de/index.html">Deutsch</a></li>
                            <li><a href="../fr/index.html">Französisch</a></li>
                            <li><a href="../en/index.html">Englisch</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h1>Datenschutzerklärung</h1>
            </div>
            <div class="content">
                <h2>Einleitung </h2>
                <p>Diese Erklärung beschreibt, welche personenbezogenen Daten wir sammeln, wie wir sie verwenden und welche Wahlmöglichkeiten Sie haben. Peach People hat Unternehmensprofile auf Facebook und LinkedIn. Diese werden zu Marketingzwecken verwendet. Wir sammeln keine Daten über unsere Follower oder diejenigen, die unsere Beiträge kommentieren. Die Daten, die LinkedIn und Facebook erfassen und mit uns teilen, basieren auf allgemeinen demografischen Informationen und Statistiken, damit wir unsere Inhalte besser anpassen können. 
                </p>
            </div>
            <div class="content">
                <h2>Weitergabe und Übermittlung personenbezogener </h2>
                <p>
                    Daten Wir sammeln Informationen von Ihnen, wenn Sie unsere Website besuchen und dort Aktionen ausführen. Diese Informationen verwenden wir, um die von Ihnen angeforderten Dienstleistungen bereitzustellen. Wir verwenden Cookies (wie Google Analytics), um ein besseres Nutzererlebnis zu bieten und unsere Website zu verbessern, sowie Web Beacons und ähnliche Technologien, um Nutzungsverhalten zu verfolgen und Marketingmaßnahmen durchzuführen.  
                </p>
                <br>
                <p>
                    Sie können auf Ihre Daten zugreifen, Ihre Präferenzen bearbeiten, Ihre Daten herunterladen oder Ihre Zustimmung widerrufen, indem Sie Ihr Konto besuchen. 
                </p>
                    
                <br>
                <p>
                    Außer für die unten beschriebenen Zwecke werden wir Ihre personenbezogenen Daten nicht tauschen, teilen oder verkaufen. Weitere Details entnehmen Sie bitte der Datenschutzerklärung. Unsere Datenschutzerklärung berücksichtigt die Anforderungen der <a href="https://gdpr-info.eu/" class="linkpages">Datenschutz-Grundverordnung</a> ("DSGVO"). Wenn Sie im Europäischen Wirtschaftsraum ansässig sind, werden wir Ihre personenbezogenen Daten nicht übertragen. 
                </p>
                <br>
                <p>
                    Bei Fragen zur unserer Datenschutzerklärung kontaktieren Sie uns bitte unter <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>  
   
            </div>
            <div class="content">
                <h2>Informationen über Cookies </h2>
                <p>
                    Cookies sind kleine Dateien, die von einem Server an Ihren Webbrowser gesendet werden. Sie werden im Cache Ihres Browsers gespeichert und ermöglichen es einer Website oder einem Dritten, Ihren Browser zu erkennen. Es gibt drei Haupttypen von Cookies:
                </p>
                <br>
                <p>
                    Sitzungs-Cookies sind spezifisch für einen bestimmten Besuch und speichern Informationen, während Sie verschiedene Seiten besuchen, sodass Sie nicht bei jedem Seitenwechsel oder beim Checkout erneut Daten eingeben müssen. Sie werden automatisch gelöscht, sobald Sie die Website verlassen oder Ihren Browser schließen.
                </p>
                <br>
                <p>
                    Persistente Cookies speichern bestimmte Informationen über Ihre Präferenzen und ermöglichen es Peach People, Sie bei jedem Besuch wiederzuerkennen. Sie werden im Cache Ihres Browsers oder auf Ihrem Mobilgerät gespeichert, bis Sie sich entscheiden, sie zu löschen, oder sie nach einer bestimmten Zeit automatisch gelöscht werden. 
                </p>
                <br>
                <p>
                    Drittanbieter-Cookies werden von jemand anderem als Peach People gesetzt und können das Surfverhalten über verschiedene Websites und Sitzungen hinweg verfolgen. Sie sind in der Regel persistente Cookies und bleiben gespeichert, bis Sie sie löschen oder sie nach der festgelegten Zeitdauer ablaufen.  
                </p>
                <br>
                <p>
                    Cookies speichern Daten über Ihre Nutzung, sie sind jedoch hilfreich, da sie wichtige Funktionen ermöglichen, wie z. B. den Checkout und die Anmeldung, und es uns ermöglichen, Ihre Erfahrung anzupassen. Sie können die Einstellungen Ihres Browsers so konfigurieren, dass sie Ihren Vorlieben bezüglich der Annahme oder Ablehnung von Cookies entsprechen, einschließlich der Handhabung von Drittanbieter-Cookies. 
                </p>
            </div>
            <div class="content">
                <h2>Google Analytics</h2>
                <p>
                    Wir verwenden Google Analytics, um die allgemeine Performance unserer Website zu messen. Google Analytics erfasst nur die Ihnen am Tag Ihres Besuchs zugewiesene IP-Adresse und nicht Ihren Namen oder andere identifizierbare Informationen. Wir kombinieren die durch Google Analytics gesammelten Informationen nicht mit personenbezogenen Daten. 
                </p>
                <br>
                <p>
                    Außerdem nutzen wir das Google's DoubleClick-Werbenetzwerk, um demografische Daten und Interessendaten über unsere Besucher zu erhalten. 
                    Wir haben keine Möglichkeit, diese aggregierten Daten mit personenbezogenen Daten in Verbindung zu bringen und verwenden nur die von Google bereitgestellten Daten, um unsere Besucher besser zu verstehen und unsere Marketingstrategie zu verfeinern, während wir die Betriebs- und Verwaltungskosten niedrig halten. 
                </p>
                <br>
                <p>
                    Obwohl Google Analytics ein dauerhaftes Cookie in Ihrem Webbrowser platziert, um Sie bei Ihrem nächsten Besuch als einzigartigen Benutzer zu erkennen, kann das Cookie nur von Google verwendet werden. Die Möglichkeit von Google, Informationen zu verwenden und zu teilen, die durch Google Analytics über Ihre Besuche auf dieser Website gesammelt wurden, wird durch die <a href="https://marketingplatform.google.com/about/analytics/terms/us/" class="linkpages">Google Analytics Nutzungsbedingungen</a> und die <a href="https://policies.google.com/privacy" class="linkpages">Google Datenschutzrichtlinie</a> eingeschränkt. Sie können mehr über Google Analytics-Cookies lesen, Ihre Präferenzen für <a href="https://myadcenter.google.com/home?sasb=true&ref=ad-settings" class="linkpages">Google Ads Einstellungen</a> ändern oder sich über die Google Ads Einstellungen abmelden. Darüber hinaus bietet Google ein Browser-Add-on zum Deaktivieren von Google Analytics an.
                </p>
            </div>
            <div class="content">
                <h2>DSGVO</h2>
                <p>
                    Die <a href="https://gdpr-info.eu/" class="linkpages">Datenschutz-Grundverordnung</a> (DSGVO), ein von der EU <a href="https://groups.google.com/a/annascosmetics.com/g/deoxycholic-acid/c/MfjUV4jP3J4/m/QooIm_3tAAAJ?pli=1" class="linkpages">verabschiedetes Gesetz</a>, zielt darauf ab, den Datenschutz und die Privatsphäre durch eine Kombination von Sicherheitsmaßnahmen, Zustimmung der betroffenen Personen und klareren Datenschutzrichtlinien zu gewährleisten. Dank des langjährigen Fokus von Peach People auf Sicherheit waren wir bereits auf viele Aspekte der DSGVO vorbereitet. Diese Seite beschreibt die Schritte, die Peach People unternommen hat, um sich auf die DSGVO vorzubereiten, und die Maßnahmen, die weiterhin ergriffen werden, seit die Verordnung in Kraft getreten ist.
                </p>
                <br>
                <h6>Sicherheit</h6>
                <p>
                    Von Anfang an hat sich Peach People darauf konzentriert, die Daten der Nutzer zu schützen. Im Zuge der Vorbereitung auf die DSGVO haben wir unsere interne "Informations- und Technologie-Sicherheitsrichtlinie" überarbeitet und unseren Mitarbeitern eine aktualisierte Schulung im Bereich IT-Sicherheit angeboten. Diese Richtlinie enthält die erforderlichen technischen Standards und Geschäftsprozesse, um sicherzustellen, dass Ihre Daten sicher sind.
                </p>
                <br>
                <h6>Rechte der Betroffenen  </h6>
                <p>
                    Gemäß der DSGVO haben Einzelpersonen zusätzliche Rechte:
                </p>
                <ul>
                    <li>
                        <strong>Recht auf Löschung:</strong> 
                        Eine Person kann verlangen, dass alle Daten über sie ohne unangemessene Verzögerung gelöscht werden. Sie können einen Antrag auf Löschung stellen, indem Sie an <a href="mailto:star@peachgroup.com" class="linkpages">star@peachgroup.com</a> schreiben.
                    </li>
                    <li>
                        <strong>Widerspruchsrecht:</strong> 
                        Einzelpersonen können bestimmten Datenverarbeitungen widersprechen, indem sie sich einfach für oder gegen bestimmte Aktivitäten entscheiden. Sie können Ihre Datenschutzeinstellungen überprüfen, indem Sie auf den "Einstellungen"-Link am Ende unserer E-Mail-Kommunikation klicken.
                    </li>
                    <li>
                        <strong>Recht auf Einschränkung :</strong> 
                        der Verarbeitung: Einzelpersonen können die Einschränkung oder 'Blockierung' der Datenverarbeitung verlangen. Sie können Ihre Datenschutzeinstellungen überprüfen, indem Sie auf den "Einstellungen"-Link am Ende unserer E-Mail-Kommunikation klicken.
                    </li>
                    <li>
                        <strong>Recht auf Berichtigung:</strong> 
                        Einzelpersonen können verlangen, dass unvollständige Daten vervollständigt oder dass falsche Daten korrigiert werden.
                    </li>
                    <li>
                        <strong>Zugangsrecht:</strong> 
                        Einzelpersonen haben das Recht zu wissen, welche Daten über sie verarbeitet werden und wie. Wir empfehlen, unsere Datenschutzerklärung zu lesen.
                    </li>
                    <li>
                        <strong>Recht auf Datenübertragbarkeit:</strong> 
                        Einzelpersonen können verlangen, dass ihre personenbezogenen Daten von einer Organisation zu einer anderen übertragen werden. Sie können einen Datenexport anfordern, indem Sie an <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a> schreiben.
                    </li>
                </ul>
                <br>
                <h6>Vertreter in der EU </h6>
                <p>
                    Für in der Europäischen Union ansässige Personen hat Peach People die Peach Group AS als Vertreter von Peach People in der Europäischen Union gemäß Artikel 27 der DSGVO ernannt. 
                </p>
                <br>
                <h6>Mitarbeiterschulung </h6>
                <p>
                    Wir haben Schulungen für unsere Mitarbeiter zu den besten Praktiken in Bezug auf Sicherheit und Datenschutz durchgeführt und werden diese Schulungen für alle Mitarbeiter und Freiwilligen von Peach People regelmäßig weiterführen.
                </p>
                <br>
                <h6>Fragen? Kontaktieren Sie uns  </h6>
                <p>
                    Sie können uns über die "Kontakt"-Links am Ende unserer Website erreichen oder eine E-Mail an <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a> senden.
                </p>
            </div>
        </div>
    </main>

    
    <!-- Cookie-Einwilligungsmodal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Diese Seite verwendet Cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Auf unserer Website verwenden wir Cookies, um die Benutzererfahrung zu verbessern, unsere Website zu optimieren und für Marketingzwecke.
                    Durch Klicken auf "Akzeptieren" stimmen Sie der Verwendung dieser Cookies zu.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Zustimmen</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Ablehnen</button>
                <button type="button" class="btn" id="customizeBtn">Cookies anpassen</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Diese Seite verwendet Cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Notwendige Cookies - können nicht deaktiviert werden</h5>
                    </div>
                        <!-- Umschaltknopf -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Notwendige Cookies behandeln grundlegende Funktionen wie die Seitennavigation und den Zugriff auf sichere Bereiche der Website. Die Website kann ohne diese Cookies nicht optimal funktionieren.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marketing</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Umschaltknopf -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Dieser Cookie hilft uns, Benutzer zu finden, die an Informationen zu verschiedenen Themen interessiert sind, damit wir Ihnen relevante Werbeanzeigen von uns zur Verfügung stellen können.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Speichern und schließen</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Mehr erfahren</button>
            </div>
        </div>
    </div>  
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Kontaktieren Sie uns</h4>
                    <p>E-Mail: star@peachgroup.no</p>
                    <p>Telefon: (+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Folgen Sie uns auf</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Abonnieren Sie unseren Newsletter</h4>
                    <p>Bleiben Sie auf dem Laufenden mit unseren neuesten Nachrichten und Kampagnen.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Geben Sie Ihre E-Mail-Adresse ein">
                        <button type="submit" class="subscribeNews" data-language="German">Abonnieren</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Alle Rechte vorbehalten.</p>
        </div>
    </footer>
<!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../../public/js/header.js"></script>   
<script src="../../public/js/MessageSystem.js"></script>

<script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'de');
    });
</script>
</body>
</html>