<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - About Us</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/aboutus.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Koti</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Avoimet paikat</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Ota yhteyttä</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Kieli</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norja</a></li>
                            <li><a href="../sv/index.html">Ruotsi</a></li>
                            <li><a href="../fi/index.html">Suomi</a></li>
                            <li><a href="../da/index.html">Tanskan</a></li>
                            <li><a href="../is/index.html">Islantilainen</a></li>
                            <li><a href="../de/index.html">Saksan</a></li>
                            <li><a href="../fr/index.html">Ranskan</a></li>
                            <li><a href="../en/index.html">Englanti</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="content1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 maintext">
                    <h3>Keitä me olemme</h3>
                    <p>
                        Peach People ei ole vain myyntiyhtiömme; se edustaa liiketoimintamme ydintä. Muodostettu sisäiseksi keskukseksi, tämä osasto huolehtii 
                        yksinomaan yrityksemme omistautuneista myyntiedustajista ja varmistaa, että heillä on kaikki tarvittava menestyäkseen.
                    </p>
                    <p>
                        Läsnä ollessaan useissa maissa eri osastomme keskittyvät pääasiassa myyntiin ja markkinointiin, mikä takaa, että pidämme kiinni 
                        sitoutumisestamme laatuun ja innovaatioon näillä aloilla.
                    </p>
                    <p>
                        Lisäksi, osana jatkuvaa sitoutumistamme kasvuun ja lahjakkuuden hankintaan, osasto tarjoaa myös polun mahdollisille ehdokkaille. He voivat helposti 
                        tutustua ja hakea erilaisia työmahdollisuuksia, jotka ovat saatavilla organisaatiossamme, mikä varmistaa, että jatkamme vahvan, dynaamisen tiimin rakentamista.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="whatarewe" src="../../img/managment.png" alt="What Are We">
                </div>
            </div>
        </div>
    </section>

    <section class="story">
        <div class="contaioner">
            <h3>Tavoitteenamme on vähentää maailmanlaajuista köyhyyttä 5% seuraavan vuosikymmenen aikana.</h3>
        </div>
    </section>

    <section class="meet-our-team">
        <div class="container">
            <h2>Meet Our Team</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Sivustollamme käytämme evästeitä käyttökokemuksen parantamiseen, verkkosivuston optimointiin ja markkinointiin.
                    Suostumalla hyväksyt, miten käytämme evästeitä.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Hyväksy</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Hylkää</button>
                <button type="button" class="btn" id="customizeBtn">Mukauta evästeitä</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Välttämättömät evästeet – ei voi poistaa käytöstä</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Välttämättömät evästeet ovat tarpeen perustoimintojen, kuten sivuston navigoinnin ja pääsyn 
                        suojattuihin osiin verkkosivulla. Verkkosivusto ei voi toimia tyydyttävästi ilman näitä evästeitä.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markkinointi</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Tämä eväste auttaa meitä löytämään käyttäjiä, jotka ovat kiinnostuneita tiedoista eri aiheista, 
                        jotta voimme tarjota sinulle relevantteja mainoksia.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Tallenna muutokset ja sulje</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lue lisää</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Ota yhteyttä</h4>
                    <p>Sähköposti: star@peachgroup.no</p>
                    <p>Puhelin: 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Seuraa meitä</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/WeThePeopleCompany" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/the.peoplecompany/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/the.peoplecompany/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-group-as/?originalSubdomain=no" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Tilaa uutiskirjeemme</h4>
                    <p>Pysy ajan tasalla viimeisimmistä uutisistamme ja kampanjoistamme.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Syötä sähköpostisi">
                        <button type="submit" class="subscribeNews" data-language="Finnish">Tilaa</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Kaikki oikeudet pidätetään.</p>
        </div>
    </footer>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../js/header.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>

  <script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'fi');
    });
</script>
    
</body>
</html>