<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - Privacy Policy</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link">Koti</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Avoimet paikat</a></li>
                    <li class="nav-item active"><a href="contact-us.html" class="nav-link">Ota yhteyttä</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Kieli</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norja</a></li>
                            <li><a href="../sv/index.html">Ruotsi</a></li>
                            <li><a href="../fi/index.html">Suomi</a></li>
                            <li><a href="../da/index.html">Tanskan</a></li>
                            <li><a href="../is/index.html">Islantilainen</a></li>
                            <li><a href="../de/index.html">Saksan</a></li>
                            <li><a href="../fr/index.html">Ranskan</a></li>
                            <li><a href="../en/index.html">Englanti</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h1>Henkilötietokäytäntö</h1>
            </div>
            <div class="content">
                <h2>Johdanto</h2>
                <p>Tämä lausunto kuvaa, minkälaista henkilötietoa keräämme, miten käytämme sitä ja mitä valintoja sinulla on. Peach People:lla on yritysprofiilit Facebookissa ja LinkedInissä. Näitä käytetään markkinointitarkoituksiin. Emme kerää tietoja seuraajistamme tai niistä, jotka kommentoivat jakamaamme sisältöä. LinkedInin ja Facebookin rekisteröimät ja kanssamme jakamat tiedot perustuvat yleiseen demografiaan ja tilastoihin, jotta voimme mukauttaa sisältöämme paremmin.  
                </p>
            </div>
            <div class="content">
                <h2>Henkilötietojen jakaminen ja välittäminen</h2>
                <p>
                    Keräämme tietoja sinusta, kun vierailet ja suoritat toimintoja verkkosivustollamme. Käytämme näitä tietoja pyytämiesi palvelujen tarjoamiseen. Käytämme evästeitä (kuten Google Analytics) tarjotaksemme paremman kokemuksen ja parantaaksemme verkkosivustoamme sekä web beaconeita ja vastaavia teknologioita seurataksemme käyttötapoja ja harjoittaa markkinointia.  
                </p>
                <br>
                <p>
                    Voit käyttää tietojasi, muokata asetuksiasi, ladata tietosi tai peruuttaa suostumuksesi vierailemalla tililläsi. Lukuun ottamatta alla kuvattuja tarkoituksia, emme vaihda, jaa tai myy henkilötietojasi kenenkään kanssa. 
                </p>
                    
                <br>
                <p>
                    Katso käytäntö täydellisistä yksityiskohdista. Henkilötietokäytäntömme ottaa huomioon <a href="https://gdpr-info.eu/" class="linkpages">Yleisen tietosuoja-asetuksen</a> ("GDPR") vaatimukset. Jos olet sijoittautunut ETA-alueelle (Euroopan talousalue), emme siirrä henkilötietojasi. 
                </p>
                <br>
                <p>
                    Jos sinulla on kysyttävää henkilötietokäytännöstämme, ota meihin yhteyttä osoitteessa <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>  
   
            </div>
            <div class="content">
                <h2>Tietoa evästeistä</h2>
                <p>
                    Evästeet ovat pieniä data-tiedostoja, jotka lähetetään palvelimelta selaimeesi. Ne tallennetaan selaimesi välimuistiin ja antavat verkkosivuston tai kolmannen osapuolen tunnistaa selaimesi. On olemassa kolme päätyyppiä evästeitä:  
                </p>
                <br>
                <p>
                    Istuntokohtaiset evästeet ovat erityisiä tiettyyn vierailuun ja ne sisältävät tietoa kun katselet eri sivuja, joten sinun ei tarvitse syöttää tietoja joka kerta, kun vaihdat sivua tai yrität maksaa. Istuntokohtaiset evästeet vanhenevat ja poistuvat automaattisesti lyhyen ajan kuluttua, kuten kun poistut sivustolta tai suljet selaimen. 
                </p>
                <br>
                <p>
                    Pysyvät evästeet muistavat tiettyjä tietoja sivuston katselutapasi suhteen ja antavat Peach People:lle tunnistaa sinut joka kerta, kun palaat. Pysyvät evästeet säilytetään selaimen välimuistissa tai mobiililaitteessasi, kunnes päätät poistaa ne, ja ne yleensä poistuvat vanhenemisensa jälkeen.  
                </p>
                <br>
                <p>
                    Kolmannen osapuolen evästeet asettaa joku muu kuin Peach People ja ne voivat kerätä selaustoimintaa useilla verkkosivustoilla ja useissa istunnoissa. Ne ovat yleensä pysyvän evästeen tyyppisiä ja säilyvät, kunnes poistat ne tai ne vanhenevat kunkin kolmannen osapuolen evästeen asettaman ajanjakson perusteella.  
                </p>
                <br>
                <p>
                    Evästeet tallentavat tietoja käytöstäsi, mutta ne ovat hyödyllisiä, koska ne mahdollistavat keskeisen toiminnallisuuden, kuten maksamisen ja kirjautumisen, ja antavat meille mahdollisuuden mukauttaa kokemustasi. Voit määrittää työpöytä- tai mobiiliselaimen asetukset heijastamaan evästeiden hyväksymistä tai hylkäämistä koskevia mieltymyksiäsi, mukaan lukien miten käsitellä kolmannen osapuolen evästeitä. 
                </p>
            </div>
            <div class="content">
                <h2>Google Analytics</h2>
                <p>
                    Käytämme Google Analyticsia määrittämään verkkosivustomme yleisiä suorituskykymittareita. Google Analytics kerää vain IP-osoitteen, joka on määritetty sinulle sinä päivänä, kun vierailet tällä sivustolla, eikä nimeäsi tai muita tunnistetietoja. Emme yhdistä Google Analyticsin avulla kerättyjä tietoja henkilökohtaisesti tunnistettaviin tietoihin. 
                </p>
                <br>
                <p>
                    Käytämme myös Googlen DoubleClick-mainosverkkoa saadaksemme yleistä demografista ja kiinnostustietoa vierailijoistamme. Meillä ei ole menetelmää yhdistää näitä yleisiä tietoja henkilökohtaisiin tietoihin, ja käytämme vain Googlelta saamiamme tietoja paremmin ymmärtääksemme vierailijoitamme ja hienosäätääksemme markkinointistrategiaamme pitäen samalla toiminta- ja hallintokustannuksemme alhaisina. 
                </p>
                <br>
                <p>
                    Vaikka Google Analytics asettaa pysyvän evästeen selaimellesi tunnistaakseen sinut ainutlaatuisena käyttäjänä, kun vierailet seuraavan kerran tällä sivustolla, evästettä voi käyttää vain Google. Googlen kyky käyttää ja jakaa Google Analyticsin keräämää tietoa vierailuistasi tälle sivustolle rajoittuu <a href="https://marketingplatform.google.com/about/analytics/terms/us/" class="linkpages">Google Analyticsin käyttöehtoihin</a> ja <a href="https://policies.google.com/privacy" class="linkpages">Googlen tietosuojakäytäntöön.</a> Voit lukea lisää Google Analytics -evästeistä, muuttaa mieltymyksiäsi <a href="https://myadcenter.google.com/home?sasb=true&ref=ad-settings" class="linkpages">Google Mainosasetuksissa</a>, tai voit poistua käytöstä Google Mainosasetuksissa. Lisäksi Google tarjoaa Google Analyticsin opt-out-lisäosan verkossa.
                </p>
            </div>
            <div class="content">
                <h2>GDPR</h2>
                <p>
                    <a href="https://gdpr-info.eu/" class="linkpages">Yleinen tietosuoja-asetus</a> (GDPR), laki, joka <a href="https://groups.google.com/a/annascosmetics.com/g/deoxycholic-acid/c/MfjUV4jP3J4/m/QooIm_3tAAAJ?pli=1" class="linkpages">hyväksyttiin EU:ssa</a>, pyrkii varmistamaan, että tiedot ovat suojattuja ja yksityisyyttä suojataan yhdistämällä turvatoimet, yksilöiden suostumus ja selkeämmät tietosuojakäytännöt. Peach People:n pitkäaikaisen keskittymisen ansiosta turvallisuuteen olimme jo valmistautuneet moniin GDPR:n näkökohtiin. Tällä sivulla kuvataan toimenpiteitä, jotka Peach People otti GDPR:ään valmistautuakseen, ja toimenpiteitä, joita se jatkaa nyt, kun asetus on voimassa.
                </p>
                <br>
                <h6>Turvallisuus </h6>
                <p>
                    Ensimmäisestä päivästämme lähtien Peach People on ollut ylpeä suojellessaan käyttäjätietoja. GDPR:ään valmistautuessaan otimme tilaisuuden tarkistaa sisäinen "Tiedon ja teknologian turvallisuuspolitiikkamme" ja tarjosimme päivitettyä koulutusta henkilökunnalle IT-turvallisuudesta. Tällä politiikalla on tarvittavat tekniset standardit ja liiketoimintaprosessit varmistaaksemme, että tietosi ovat turvallisia. 
                </p>
                <br>
                <h6>Yksilöiden oikeudet </h6>
                <p>
                    Yksilöillä on useita lisäoikeuksia, jotka myönnetään heille GDPR:n mukaisesti:
                </p>
                <ul>
                    <li>
                        <strong>Oikeus poistamiseen: </strong> 
                        Yksilö voi pyytää organisaatiota poistamaan kaikki tiedot kyseisestä yksilöstä ilman aiheetonta viivytystä. Voit esittää unohduspyynnön kirjoittamalla osoitteeseen <a href="mailto:star@peachgroup.com" class="linkpages">star@peachgroup.com</a>.
                    </li>
                    <li>
                        <strong>Oikeus vastustaa:</strong> 
                        Yksilö voi kieltää tiettyjen tietojen käytön pystyessään helposti valitsemaan ja poistamaan toiminnot. Voit tarkistaa yksityisyyden asetuksesi napsauttamalla "Asetukset"-linkkiä sähköpostiviesteimme alareunassa. 
                    </li>
                    <li>
                        <strong>Oikeus rajoittaa käsittelyä:</strong> 
                        Yksilö voi pyytää rajoittamaan tai 'estämään' käsittelyn. Voit tarkistaa yksityisyyden asetuksesi napsauttamalla "Asetukset"-linkkiä sähköpostiviesteimme alareunassa. 
                    </li>
                    <li>
                        <strong>Oikeus korjaukseen:</strong> 
                        Yksilöt voivat pyytää, että puutteelliset tiedot täydennetään tai että virheelliset tiedot korjataan. 
                    </li>
                    <li>
                        <strong>Oikeus pääsyyn:</strong> 
                        Yksilöillä on oikeus tietää, mitä tietoja heistä käsitellään ja miten. Kehotamme sinua tarkistamaan henkilötietokäytäntömme. 
                    </li>
                    <li>
                        <strong>Oikeus siirrettävyyteen:</strong> 
                        Yksilöt voivat pyytää, että yhden organisaation hallussa olevat henkilötiedot siirretään toiselle. Voit pyytää tietojesi vientiä kirjoittamalla osoitteeseen  <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>.
                    </li>
                </ul>
                <br>
                <h6>EU-edustaja </h6>
                <p>
                    EU:ssa oleville yksilöille Peach People on nimittänyt Peach Group AS:n Peach People:n edustajaksi Euroopan unionissa GDPR:n 27 artiklan mukaisesti.
                </p>
                <br>
                <h6>Henkilökunnan koulutus </h6>
                <p>
                    Olemme järjestäneet henkilökunnalle koulutusta parhaista turvallisuus- ja yksityisyyskäytännöistä ja jatkamme tämän koulutuksen tarjoamista kaikille Peach People:n henkilökunnalle ja vapaaehtoisille säännöllisesti ja toistuvasti. 
                </p>
                <br>
                <h6>Kysymyksiä? Ota yhteyttä</h6>
                <p>
                    Voit ottaa meihin yhteyttä käyttämällä "Ota yhteyttä" -linkkejä sivustomme alareunassa tai lähettämällä sähköpostia osoitteeseen <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>
            </div>
        </div>
    </main>

    
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Sivustollamme käytämme evästeitä käyttökokemuksen parantamiseen, verkkosivuston optimointiin ja markkinointiin.
                    Suostumalla hyväksyt, miten käytämme evästeitä.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Hyväksy</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Hylkää</button>
                <button type="button" class="btn" id="customizeBtn">Mukauta evästeitä</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Tämä sivusto käyttää evästeitä</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Välttämättömät evästeet – ei voi poistaa käytöstä</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Välttämättömät evästeet ovat tarpeen perustoimintojen, kuten sivuston navigoinnin ja pääsyn 
                        suojattuihin osiin verkkosivulla. Verkkosivusto ei voi toimia tyydyttävästi ilman näitä evästeitä.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markkinointi</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Tämä eväste auttaa meitä löytämään käyttäjiä, jotka ovat kiinnostuneita tiedoista eri aiheista, 
                        jotta voimme tarjota sinulle relevantteja mainoksia.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Tallenna muutokset ja sulje</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lue lisää</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Ota yhteyttä</h4>
                    <p>Sähköposti: star@peachgroup.no</p>
                    <p>Puhelin: 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Seuraa meitä</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Tilaa uutiskirjeemme</h4>
                    <p>Pysy ajan tasalla viimeisimmistä uutisistamme ja kampanjoistamme.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Syötä sähköpostisi">
                        <button type="submit" class="subscribeNews" data-language="Finnish">Tilaa</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Kaikki oikeudet pidätetään.</p>
        </div>
    </footer>
<!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../../public/js/header.js"></script>   
<script src="../../public/js/MessageSystem.js"></script>
<script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'fi');
    });
</script>
</body>
</html>