<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - About Us</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/aboutus.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Hem</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Lediga platser</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Språk</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norska</a></li>
                            <li><a href="../sv/index.html">Svenska</a></li>
                            <li><a href="../fi/index.html">Finska</a></li>
                            <li><a href="../da/index.html">Danska</a></li>
                            <li><a href="../is/index.html">Isländska</a></li>
                            <li><a href="../de/index.html">Tysk</a></li>
                            <li><a href="../fr/index.html">Franska</a></li>
                            <li><a href="../en/index.html">Engelsk</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="content1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 maintext">
                    <h3>Vem vi är</h3>
                    <p>
                        Peach People är inte bara vårt försäljningsbolag; det representerar hjärtat av vår verksamhet. Formad som en intern hub tar denna avdelning 
                        enbart hand om företagets dedikerade säljrepresentanter, och ser till att de har allt de behöver för att lyckas.
                    </p>
                    <p>
                        Med en närvaro som sträcker sig över flera länder har våra olika avdelningar huvudfokus på försäljning och marknadsföring,
                         vilket garanterar att vi bibehåller vårt engagemang för kvalitet och innovation inom dessa områden.
                    </p>
                    <p>
                        Dessutom, som en del av vårt fortsatta åtagande för tillväxt och talangrekrytering, erbjuder avdelningen också en väg för potentiella 
                        kandidater. De kan enkelt utforska och ansöka om de olika jobbmöjligheterna som finns inom vår organisation, vilket säkerställer att vi 
                        fortsätter att bygga ett starkt, dynamiskt team.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="whatarewe" src="../../img/managment.png" alt="What Are We">
                </div>
            </div>
        </div>
    </section>

    <section class="story">
        <div class="contaioner">
            <h3>Vårt mål är att minska global fattigdom med 5% under det kommande decenniet.</h3>
        </div>
    </section>

    <section class="meet-our-team">
        <div class="container">
            <h2>Meet Our Team</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- Overlay background -->
     <div class="overlay" id="overlay"></div>
     <!-- Cookie Consent Modal -->
     <div id="cookieConsent">
         <div class="container">
             <div class="cookieheading">
                 <h4>Denna sida använder cookies</h4>
             </div>
             <div class="cookiecontent">
                 <p>
                     På vår sida använder vi cookies för att förbättra användarupplevelsen, optimera webbsidan, och för marknadsföring.
                     Genom att samtycka accepterar du hur vi använder cookies.
 
                 </p>
             </div>
             <div id="cookieConsentButtons">
                 <button type="button" class="btn btn-success" id="acceptBtn">Godkänn</button>
                 <button type="button" class="btn btn-danger" id="rejectBtn">Neka</button>
                 <button type="button" class="btn" id="customizeBtn">Anpassa cookies</button>
             </div>
         </div>
     </div>
     <div class="customizecookie d-none">
         <div class="container">
             <div class="cookieheading cookiHeadingForCustomize">
                 <h4>Denna sida använder cookies</h4>
             </div>
             <div class="necessarycookie">
                 <div class="row necesarryHeadingSetting">
                     <div class="col-9 necessaryheading">
                         <h5>Nödvändiga cookies – kan inte stängas av</h5>
                     </div>
                         <!-- Toggle Switch -->
                     <div class="col-3 setChoice">
                         <label class="onoff-switch">
                             <input type="checkbox" id="necessaryCheckbox" checked disabled>
                             <span class="onoff-slider"></span>
                         </label>
                     </div>
                 </div>
                 
                 <div class="necessarycontent">
                     <p>
                         Nödvändiga cookies används för grundläggande funktioner såsom sidnavigering och för att 
                         få tillgång till skyddade delar av webbsidan. Webbplatsen kan inte fungera 
                         tillfredsställande utan dessa cookies.
                     </p>
                 </div>
             </div>
             <div class="marketing">
                 <div class="row necesarryHeadingSetting">
                     <div class="col-9 necessaryheading">
                         <h5>Marknadsföring</h5>
                     </div>
                     <div class="col-3 setChoice">
                         <!-- Toggle Switch -->
                         <label class="onoff-switch">
                             <input type="checkbox" id="marketingCheckBox" checked>
                             <span class="onoff-slider"></span>
                         </label>
                     </div>
                 </div>
 
                 <div class="necessarycontent">
                     <p>
                         Den här cookien hjälper oss att hitta användare som är intresserade av information om 
                         olika ämnen, så att vi kan ge dig relevanta annonser.
                     </p>
                 </div>
 
             </div>
             <div class="d-flex justify-content-between">
                 <button type="button" class="btn btn-success" id="saveAndCloseCookies">Spara ändringar och stäng.</button>
                 <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Läs mer</button>
             </div>
         </div>
     </div>
 

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Kontakta oss</h4>
                    <p>E-post: star@peachgroup.no</p>
                    <p>Telefon: 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Följ oss på</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550824832894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplesverige" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/peachpeoplenorgeas/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-sverige/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Prenumerera på vårt nyhetsbrev</h4>
                    <p>Håll dig uppdaterad med våra senaste nyheter och kampanjer.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Ange din e-post">
                        <button type="submit" class="subscribeNews" data-language="Swedish">Prenumerera</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Alla rättigheter förbehållna.</p>
        </div>
    </footer>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../public/js/header.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>

  <script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'sv');
    });
</script>
    
</body>
</html>