<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - Privacy Policy</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Hem</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Lediga platser</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Språk</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norska</a></li>
                            <li><a href="../sv/index.html">Svenska</a></li>
                            <li><a href="../fi/index.html">Finska</a></li>
                            <li><a href="../da/index.html">Danska</a></li>
                            <li><a href="../is/index.html">Isländska</a></li>
                            <li><a href="../de/index.html">Tysk</a></li>
                            <li><a href="../fr/index.html">Franska</a></li>
                            <li><a href="../en/index.html">Engelsk</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h1>Integritetspolicy </h1>
            </div>
            <div class="content">
                <h2>Introduktion</h2>
                <p>Denna policy beskriver vilken personlig information vi samlar in, hur vi använder den och dina val.
                    Peach People har företagsprofiler på Facebook och LinkedIn. Dessa används i marknadsföringssyfte.
                    Vi samlar inte in data om våra följare eller de som kommenterar det vi delar. Data som LinkedIn och Facebook
                    registrerar och delar med oss baseras på övergripande demografi och statistik så att vi kan anpassa vårt innehåll bättre.
                      
                </p>
            </div>
            <div class="content">
                <h2>Delning och vidarebefordran av personuppgifter</h2>
                <p>
                    Vi samlar information från dig när du besöker och utför åtgärder på vår webbplats. Vi använder denna information för att tillhandahålla de tjänster
                    du har begärt. Vi använder kakor (som Google Analytics) för att erbjuda en bättre upplevelse och förbättra vår webbplats, och
                    webbfyrar och liknande teknologier för att spåra användarmönster och bedriva marknadsföring.
 
                </p>
                <br>
                <p>
                    Du kan komma åt dina uppgifter, ändra dina preferenser, ladda ner dina uppgifter eller dra tillbaka ditt samtycke genom att besöka ditt konto.
                    Förutom de syften som anges nedan kommer vi inte att byta, dela eller sälja dina personuppgifter med någon. Se policyn för fullständiga detaljer.

                </p>
                    
                <br>
                <p>
                    Vår integritetspolicy tar hänsyn till kraven i <a href="https://gdpr-info.eu/" class="linkpages">Allmänna dataskyddsförordningen</a> ("GDPR").
                    Om du är baserad i Europeiska ekonomiska samarbetsområdet kommer vi inte att överföra dina personuppgifter.

                </p>
                <br>
                <p>
                    Har du några frågor om vår integritetspolicy, vänligen kontakta oss på <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>  
   
            </div>
            <div class="content">
                <h2>Information om kakor</h2>
                <p>
                    Kakor är små datafiler som skickas från en server till din webbläsare. De lagras i din webbläsares cache och låter en webbplats eller en tredje part känna igen din webbläsare. Det finns tre huvudtyper av kakor:
                </p>
                <br>
                <p>
                    Sessionskakor är specifika för ett visst besök och bär information när du tittar på olika sidor, så du inte behöver ange information varje gång du byter sida eller försöker betala. Sessionskakor går ut och raderas automatiskt efter en kort tid, som efter att du lämnar webbplatsen eller stänger din webbläsare. 
                </p>
                <br>
                <p>
                    Beständiga kakor kommer ihåg viss information om dina preferenser för att visa webbplatsen och låter Peach People känna igen dig varje gång du återvänder. Beständiga kakor lagras i din webbläsares cache eller på din mobila enhet tills du väljer att radera dem, och raderas vanligtvis vid utgång. 
                </p>
                <br>
                <p>
                    Tredjepartskakor placeras av någon annan än Peach People och kan samla surfaktivitet över flera webbplatser och över flera sessioner. De är vanligtvis en typ av beständig kaka och lagras tills du raderar dem eller de går ut baserat på den tidsperiod som är inställd i varje tredjepartskaka. 
                </p>
                <br>
                <p>
                    Kakor lagrar data om din användning, men de är användbara eftersom de möjliggör nyckelfunktionalitet, såsom betalning och inloggning, och låter oss anpassa din upplevelse. Du kan konfigurera dina skrivbord eller mobilwebbläsarinställningar för att återspegla dina preferenser för att acceptera eller avvisa kakor, inklusive hur du hanterar tredjepartskakor. 
                </p>
            </div>
            <div class="content">
                <h2>Google Analytics</h2>
                <p>
                    Vi använder Google Analytics för att bestämma samlade prestationsmått för vår webbplats. Google Analytics samlar endast in IP-adressen som tilldelats dig den dagen du besöker denna webbplats, snarare än ditt namn eller annan identifierande information. Vi kombinerar inte den information som samlas in genom användningen av Google Analytics med personligt identifierbar information. 
                </p>
                <br>
                <p>
                    Vi utnyttjar också Googles DoubleClick annonsnätverk för att erhålla samlad demografisk och intresseinformation om våra besökare.
                    Vi har ingen metod för att mappa denna aggregerade data till personlig data och använder endast denna data som Google tillhandahåller för att bättre förstå våra besökare och finjustera vår marknadsföringsstrategi samtidigt som vi håller våra drifts- och administrativa kostnader låga.

                </p>
                <br>
                <p>
                    Även om Google Analytics placerar en permanent kaka på din webbläsare för att identifiera dig som en unik användare nästa gång du besöker denna webbplats, kan kakan endast användas av Google. Googles förmåga att använda och dela information som samlats in av Google Analytics om dina besök på denna webbplats är begränsad av <a href="https://marketingplatform.google.com/about/analytics/terms/us/" class="linkpages">Google Analytics användarvillkor</a> och <a href="https://policies.google.com/privacy" class="linkpages">Googles integritetspolicy.</a>
                    Du kan läsa mer om Google Analytics kakor, ändra dina preferenser för <a href="https://myadcenter.google.com/home?sasb=true&ref=ad-settings" class="linkpages">Google Ads inställningar</a>, eller du kan välja bort via Google Ads inställningar. Dessutom erbjuder Google också ett tillägg för webbläsare för att välja bort Google Analytics.
 
                </p>
            </div>
            <div class="content">
                <h2>GDPR</h2>
                <p>
                    <a href="https://gdpr-info.eu/" class="linkpages">Allmänna dataskyddsförordningen</a> (GDPR), en lag <a href="https://groups.google.com/a/annascosmetics.com/g/deoxycholic-acid/c/MfjUV4jP3J4/m/QooIm_3tAAAJ?pli=1" class="linkpages">antagen av EU</a>, syftar till att säkerställa att data skyddas och integritet garanteras genom en kombination av säkerhetsåtgärder, samtycke från individer och tydligare integritetspolicies. Tack vare Peach Peoples långvariga fokus på säkerhet var vi redan förberedda för många aspekter av GDPR.
                    Denna sida beskriver de steg Peach People tog för att förbereda sig för GDPR och de steg den fortsätter att ta nu när förordningen är i kraft.
 
                </p>
                <br>
                <h6>Säkerhet </h6>
                <p>
                    Från vår första dag har Peach People varit stolt över att skydda användardata. I förberedelse för GDPR tog vi tillfället i akt att revidera vår interna "Informations- och tekniksäkerhetspolicy" och gav uppdaterad utbildning till personal om IT-säkerhet. Denna policy har de nödvändiga tekniska standarderna och affärsprocesserna för att säkerställa att dina data är säkra.
                </p>
                <br>
                <h6>Individens rättigheter </h6>
                <p>
                    Individer har ett antal ytterligare rättigheter som beviljas dem enligt GDPR:
                </p>
                <ul>
                    <li>
                        <strong>Rätt till radering: </strong> 
                        En individ kan begära att en organisation raderar all data om den personen utan onödig fördröjning. Du kan skicka in en begäran om att bli bortglömd genom att skriva till<a href="mailto:star@peachgroup.com" class="linkpages">star@peachgroup.com</a>.
                    </li>
                    <li>
                        <strong>Rätt att invända: </strong> 
                        En individ kan förbjuda vissa dataanvändningar genom att enkelt kunna välja in och ut från aktiviteter. Du kan granska dina integritetsinställningar genom att klicka på "Preferenser"-länken längst ner i våra e-postkommunikationer. 
                    </li>
                    <li>
                        <strong>Rätt att begränsa bearbetning: </strong> 
                        En individ kan begära att begränsa eller 'blockera' bearbetningen. Du kan granska dina integritetsinställningar genom att klicka på "Preferenser"-länken längst ner i våra e-postkommunikationer. 
                    </li>
                    <li>
                        <strong>Rätt till rättelse: </strong> 
                        Individer kan begära att ofullständig data blir komplett eller att felaktig data blir korrigera. 
                    </li>
                    <li>
                        <strong>Rätt till tillgång: </strong> 
                        Individer har rätt att veta vilken data om dem som behandlas och hur. Vi uppmuntrar dig att granska vår integritetspolicy. 
                    </li>
                    <li>
                        <strong>Rätt till portabilitet: </strong> 
                        Individer kan begära att personuppgifter som hålls av en organisation transporteras till en annan. Du kan begära en export av dina data genom att skriva till <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>.
                    </li>
                </ul>
                <br>
                <h6>EU-representant</h6>
                <p>
                    För individer i Europeiska unionen har Peach People utsett Peach Group AS som Peach Peoples representant i Europeiska unionen enligt artikel 27 i GDPR. 
                </p>
                <br>
                <h6>Personalutbildning </h6>
                <p>
                    Vi har genomfört personalutbildning om bästa praxis för säkerhet och integritet och kommer att fortsätta erbjuda denna utbildning till all Peach People personal och volontärer på en regelbunden, återkommande basis.
                </p>
                <br>
                <h6>Frågor? Kontakta oss</h6>
                <p>
                    Du kan kontakta oss genom att använda "Kontakta oss"-länkarna längst ner på vår webbplats eller genom att skicka ett e-postmeddelande till <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>
            </div>
        </div>
    </main>

    
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vår sida använder vi cookies för att förbättra användarupplevelsen, optimera webbsidan, och för marknadsföring.
                    Genom att samtycka accepterar du hur vi använder cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkänn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Neka</button>
                <button type="button" class="btn" id="customizeBtn">Anpassa cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denna sida använder cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nödvändiga cookies – kan inte stängas av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nödvändiga cookies används för grundläggande funktioner såsom sidnavigering och för att 
                        få tillgång till skyddade delar av webbsidan. Webbplatsen kan inte fungera 
                        tillfredsställande utan dessa cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marknadsföring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Den här cookien hjälper oss att hitta användare som är intresserade av information om 
                        olika ämnen, så att vi kan ge dig relevanta annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Spara ändringar och stäng.</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Läs mer</button>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Kontakta oss</h4>
                    <p>E-post: star@peachgroup.no</p>
                    <p>Telefon: 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Följ oss på</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550824832894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplesverige" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/peachpeoplesverige/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-sverige/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Prenumerera på vårt nyhetsbrev</h4>
                    <p>Håll dig uppdaterad med våra senaste nyheter och kampanjer.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Ange din e-post">
                        <button type="submit" class="subscribeNews" data-language="Swedish">Prenumerera</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Alla rättigheter förbehållna.</p>
        </div>
    </footer>
<!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../../public/js/header.js"></script>  
<script src="../../public/js/MessageSystem.js"></script> 
<script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'sv');
    });
</script>
</body>
</html>