<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - About Us</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/aboutus.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Hjem</a></li>
                    <li class="nav-item "><a href="career.html" class="nav-link active">Ledige stillinger</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Språk</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norsk</a></li>
                            <li><a href="../sv/index.html">Svensk</a></li>
                            <li><a href="../fi/index.html">Finsk</a></li>
                            <li><a href="../da/index.html">Dansk</a></li>
                            <li><a href="../is/index.html">Islandsk</a></li>
                            <li><a href="../de/index.html">Tysk</a></li>
                            <li><a href="../fr/index.html">Fransk</a></li>
                            <li><a href="../en/index.html">Engelsk</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="content1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 maintext">
                    <h3>Hvem vi er</h3>
                    <p>
                        Peach People er ikke bare vårt salgsselskap; det representerer hjertet av vår forretningsdrift. Formet som en intern hub,
                        tar denne avdelingen kun hånd om selskapets dedikerte salgsrepresentanter, og sørger for at de har alt de trenger for å lykkes.
                    </p>
                    <p>
                        Med en tilstedeværelse som strekker seg over flere land, har våre forskjellige avdelinger hovedfokus på salg og markedsføring, 
                        noe som sikrer at vi opprettholder vårt engasjement for kvalitet og innovasjon på disse områdene.
                    </p>
                    <p>
                        Videre, som en del av vår vedvarende forpliktelse til vekst og talentinnhenting, gir avdelingen også en vei for potensielle kandidater.
                        De kan enkelt utforske og søke på forskjellige jobbmuligheter som er tilgjengelige innenfor vår organisasjon, noe som sikrer at vi fortsetter 
                        å bygge et sterkt, dynamisk team.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="whatarewe" src="../../img/managment.png" alt="What Are We">
                </div>
            </div>
        </div>
    </section>

    <section class="story">
        <div class="contaioner">
            <h3>Vårt mål er å redusere global fattigdom med 5% i løpet av det neste tiåret.</h3>
        </div>
    </section>

    <section class="meet-our-team">
        <div class="container">
            <h2>Meet Our Team</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>

    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På siden vår bruker vi cookies til å forbedre brukeropplevelsen, optimalisere websiden, og for markedsføring.
                    Ved å samtykke, aksepterer du hvordan vi bruker cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkjenn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Avslå</button>
                <button type="button" class="btn" id="customizeBtn">Tilpass cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nødvendige cookies – kan ikke skrus av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nødvendige cookies brukes til grunnleggende funksjoner som side-navigering og for å få tilgang til beskyttede 
                        deler av websiden. Websiden kan ikke fungere tilfredsstillende uten disse cookiene.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markedsføring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Denne cookien hjelper oss med å finne brukere som er interesserte i informasjon om forskjellige emner, 
                        sånn at vi gi deg relevante annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Lagre og lukk</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Les mer</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Kontakt oss</h4>
                    <p>E-post: star@peachgroup.no</p>
                    <p>Telefon:(+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Følg oss på</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/WeThePeopleCompany" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/the.peoplecompany/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/the.peoplecompany/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-group-as/?originalSubdomain=no" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Abonner på vårt nyhetsbrev</h4>
                    <p>Hold deg oppdatert med våre siste nyheter og kampanjer.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Legg inn din e-post">
                        <button type="submit" class="subscribeNews" data-language="Norwegian">Abonnere</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Alle rettigheter forbeholdt.</p>
        </div>
    </footer>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../js/header.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>

<script>
    $(document).ready(function() {
        sessionStorage.setItem("selectedLanguage","no");
    });
</script>
    
</body>
</html>