<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peach People - Vacancies</title>
    <link rel="icon" type="image/png" href="../../img/logo.png" />
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/css/career.css" />
    <link rel="stylesheet" href="../../public/css/header.css" />
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link rel="stylesheet" href="../../public/css/sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
   
</head>

<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link">Hjem</a></li>
                    <li class="nav-item active"><a href="career.html" class="nav-link active">Ledige stillinger</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Språk</a>
                        <ul class="dropdown-menu language-dropdown">
                          <li><a href="../no/index.html">Norsk</a></li>
                          <li><a href="../sv/index.html">Svensk</a></li>
                          <li><a href="../fi/index.html">Finsk</a></li>
                          <li><a href="../da/index.html">Dansk</a></li>
                          <li><a href="../is/index.html">Islandsk</a></li>
                          <li><a href="../de/index.html">Tysk</a></li>
                          <li><a href="../fr/index.html">Fransk</a></li>
                          <li><a href="../en/index.html">Engelsk</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
  <div class="headerimg">
    <div class="overlay"></div>
    <div class="text">Vil du bli en del av laget?</div>
    <div class="subtext mt-4">
        Hos Peach People jobber vi med veldedighet på en helt ny måte, og er på jakt etter dedikerte mennesker som ønsker å forme fremtiden sammen med oss.
    </div>
  </div>
  <div class="values-section">
    <h1 class="values-heading">Våre Kjerneverdier</h1>
    <div class="row value-list">
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🌟</div>
          <h3 class="value-title">Innovasjon</h3>
          <p class="value-description">Vi omfavner kreativ tenkning og fremmer nytenkning i alt vi gjør.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🤝</div>
          <h3 class="value-title">Samarbeid</h3>
          <p class="value-description">Vi støtter en kultur av lagarbeid, kommunikasjon, og gjensidig respekt.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🌎</div>
          <h3 class="value-title">Mangfold</h3>
          <p class="value-description">Vi feirer mangfold og tror det beriker våre perspektiver og løsninger.
          </p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🔍</div>
          <h3 class="value-title">Gjennomsiktighet</h3>
          <p class="value-description">Vi opererer med ærlighet, åpenhet, og klar kommunikasjon.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🔥</div>
          <h3 class="value-title">Lidenskap</h3>
          <p class="value-description">Vi er dedikerte til å nå vårt mål og bringer entusiasme til alt vi gjør.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card value-cd">
          <div class="value-icon">🌱</div>
          <h3 class="value-title">Vekstmentalitet</h3>
          <p class="value-description">Vi tar imot utfordringer, lærer av feil, og søker alltid etter forbedringer.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="workwithus">
    <div class="container">
      <p>
        Peach People er en mangfoldig arbeidsplass med 120 medarbeidere som har ulik bakgrunn, kompetanse og arbeidsoppgaver. Med kontorer i Oslo og Gøteborg, 
        er vi et sted med stor takhøyde, hvor vi er opptatt av at alle ansatte skal ha frihet til å utvikle seg i jobben, samtidig som du har det hyggelig på jobb. 
        Er du klar for å gjøre en forskjell?
      </p>
      <p>
        Utforsk spennende karrieremuligheters her. 👇
      </p>
    </div>
  </section>

  <section class="openPosition">  
    <h1 class="text-center mb-4">Ledige stillinger</h1>
    <div class="row">
      <div class="container joblistcontainer mb-4">
        <ul class="joblisting">
            <li class="joblist"><a href="generalmanager.html" class="jobdescriptionpage">Daglig leder</a></li>
            <li class="joblist"><a href="salesmanager.html" class="jobdescriptionpage">Salgssjef</a></li>
            <li class="joblist"><a href="teamleader.html" class="jobdescriptionpage">Teamleder</a></li>
            <li class="joblist"><a href="b2b.html" class="jobdescriptionpage">B2B Selger</a></li>
            <li class="joblist"><a href="b2c.html" class="jobdescriptionpage">B2C Selger</a></li>
            <li class="joblist"><a href="psychologist.html" class="jobdescriptionpage">Online Atferdspsykolog</a></li>
            <li class="joblist"><a href="recruiter.html" class="jobdescriptionpage">Rekrutterer</a></li>
            <li class="joblist"><a href="accountant.html" class="jobdescriptionpage">Regnskapsfører</a></li>
        </ul>
      </div>
    </div>
  </section>

 


<!-- Overlay background -->
<div class="overlay" id="overlay"></div>

<!-- Cookie Consent Modal -->
<div id="cookieConsent">
    <div class="container">
        <div class="cookieheading">
            <h4>Denne siden bruker cookies</h4>
        </div>
        <div class="cookiecontent">
            <p>
                På siden vår bruker vi cookies til å forbedre brukeropplevelsen, optimalisere websiden, og for markedsføring.
                Ved å samtykke, aksepterer du hvordan vi bruker cookies.
            </p>
        </div>
        <div id="cookieConsentButtons">
            <button type="button" class="btn btn-success" id="acceptBtn">Godkjenn</button>
            <button type="button" class="btn btn-danger" id="rejectBtn">Avslå</button>
            <button type="button" class="btn" id="customizeBtn">Tilpass cookies</button>
        </div>
    </div>
</div>
<div class="customizecookie d-none">
    <div class="container">
        <div class="cookieheading cookiHeadingForCustomize">
            <h4>Denne siden bruker cookies</h4>
        </div>
        <div class="necessarycookie">
            <div class="row necesarryHeadingSetting">
                <div class="col-9 necessaryheading">
                    <h5>Nødvendige cookies – kan ikke skrus av</h5>
                </div>
                    <!-- Toggle Switch -->
                <div class="col-3 setChoice">
                    <label class="onoff-switch">
                        <input type="checkbox" id="necessaryCheckbox" checked disabled>
                        <span class="onoff-slider"></span>
                    </label>
                </div>
            </div>
            
            <div class="necessarycontent">
                <p>
                    Nødvendige cookies brukes til grunnleggende funksjoner som side-navigering og for å få tilgang til beskyttede 
                    deler av websiden. Websiden kan ikke fungere tilfredsstillende uten disse cookiene.
                </p>
            </div>
        </div>
        <div class="marketing">
            <div class="row necesarryHeadingSetting">
                <div class="col-9 necessaryheading">
                    <h5>Markedsføring</h5>
                </div>
                <div class="col-3 setChoice">
                    <!-- Toggle Switch -->
                    <label class="onoff-switch">
                        <input type="checkbox" id="marketingCheckBox" checked>
                        <span class="onoff-slider"></span>
                    </label>
                </div>
            </div>

            <div class="necessarycontent">
                <p>
                    Denne cookien hjelper oss med å finne brukere som er interesserte i informasjon om forskjellige emner, 
                    sånn at vi gi deg relevante annonser.
                </p>
            </div>

        </div>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-success" id="saveAndCloseCookies">Lagre og lukk</button>
            <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Les mer</button>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Kontakt oss</h4>
                <p>E-post: star@peachgroup.no</p>
                <p>Telefon:(+47) 982 34 223</p>
            </div>
            <div class="col-md-4">
                <h4>Følg oss på</h4>
                <div class="social-icons">
                  <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                  <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="col-md-4">
                <h4>Abonner på vårt nyhetsbrev</h4>
                <p>Hold deg oppdatert med våre siste nyheter og kampanjer.</p>
                <form class="subscribe-form">
                  <input type="email" id="newsletter" placeholder="Legg inn din e-post">
                  <button type="submit" class="subscribeNews" data-language="Norwegian">Abonnere</button>
                </form>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2023 Peach People. Alle rettigheter forbeholdt.</p>
    </div>
</footer>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../public/js/header.js"></script>
  <script src="../../public/js/career.js"></script>
  <script src="../../public/js/sweetalert2.all.min.js"></script>
  <script src="../../public/js/sweetalert2.min.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>

  <script>
    $(document).ready(function() {
        sessionStorage.setItem("selectedLanguage","no");
    });
</script>
</body>

</html>