<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - Privacy Policy</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link">Hjem</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Ledige stillinger</a></li>
                    <li class="nav-item active"><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Språk</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norsk</a></li>
                            <li><a href="../sv/index.html">Svensk</a></li>
                            <li><a href="../fi/index.html">Finsk</a></li>
                            <li><a href="../da/index.html">Dansk</a></li>
                            <li><a href="../is/index.html">Islandsk</a></li>
                            <li><a href="../de/index.html">Tysk</a></li>
                            <li><a href="../fr/index.html">Fransk</a></li>
                            <li><a href="../en/index.html">Engelsk</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h1>Personvernerklæring</h1>
            </div>
            <div class="content">
                <h2>Innledning</h2>
                <p>Denne erklæringen beskriver hvilke personopplysninger vi samler inn, hvordan vi bruker dem, og hvilke valg du har. 

                    Peach People har bedriftsprofiler på Facebook og LinkedIn. Disse brukes til markedsføringsformål. 
                    
                    Vi samler ikke inn data om våre følgere eller de som kommenterer det vi deler. Data som LinkedIn og Facebook registrerer og deler med oss 
                    er basert på generell demografi og statistikk, slik at vi kan tilpasse vårt innhold bedre.   
                </p>
            </div>
            <div class="content">
                <h2>Deling og videresending av personopplysninger </h2>
                <p>
                    Vi samler inn informasjon fra deg når du besøker og utfører handlinger på vår nettside. Vi bruker denne informasjonen for å levere de tjenestene 
                    du har bedt om. Vi bruker informasjonskapsler (som Google Analytics) for å tilby en bedre opplevelse og forbedre vår nettside, og web-beacons 
                    og lignende teknologier for å spore bruksmønstre og drive markedsføring. 
                </p>
                <br>
                <p>
                    Du kan få tilgang til dine data, redigere dine preferanser, laste ned dine data, eller trekke tilbake samtykket ved å besøke kontoen din. 
                    Bortsett fra de formålene som er skissert nedenfor, vil vi ikke bytte, dele, eller selge dine personopplysninger med noen. 
                    Se erklæringen for fullstendige detaljer. 
                </p>
                    
                <br>
                <p>
                    Vår personvernerklæring tar hensyn til kravene i <a href="https://gdpr-info.eu/" class="linkpages">General Data Protection Regulation</a> ("GDPR"). 

                    Hvis du er basert i EØS (Europeisk Økonomisk Samarbeidsområde), vil vi ikke overføre dine personopplysninger. 
                </p>
                <br>
                <p>
                    Har du spørsmål om vår personvernerklæring, vennligst kontakt oss på <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a> 
                </p>  
   
            </div>
            <div class="content">
                <h2>Informasjon om informasjonskapsler </h2>
                <p>
                    Informasjonskapsler er små datafiler som sendes fra en server til din nettleser. De lagres i nettleserens cache og lar en nettside eller en 
                    tredjepart gjenkjenne nettleseren din. Det er tre hovedtyper av informasjonskapsler: 
                </p>
                <br>
                <p>
                    Øktskapsler er spesifikke for et bestemt besøk og bærer informasjon når du ser på forskjellige sider, så du ikke må legge inn informasjon 
                    hver gang du bytter side eller prøver å betale. Øktskapsler løper ut og sletter seg selv automatisk etter en kort periode, som etter at du 
                    forlater nettstedet eller lukker nettleseren din. 
                </p>
                <br>
                <p>
                    Varige kapsler husker bestemt informasjon om dine preferanser for visning av nettsiden, og lar Peach People gjenkjenne deg hver gang du kommer 
                    tilbake. Varige kapsler lagres i nettleserens cache eller på mobil enheten din til du velger å slette dem, og sletter seg selv vanligvis ved utløp.
                </p>
                <br>
                <p>
                    Tredjepartskapsler blir plassert av noen andre enn Peach People, og kan samle browsingaktivitet over flere nettsteder og over flere økter. 
                    De er vanligvis en type varig kapsel og lagres til du sletter dem eller de utløper basert på tidsperioden som er satt i hver tredjepartskapsel.  
                </p>
                <br>
                <p>
                    Informasjonskapsler lagrer data om din bruk, men de er nyttige fordi de muliggjør nøkkelfunksjonalitet, som betaling og innlogging, og lar 
                    oss tilpasse din opplevelse. Du kan konfigurere innstillingene på skrivebords- eller mobilnettleseren din for å reflektere dine preferanser 
                    angående aksept eller avvisning av informasjonskapsler, inkludert hvordan du skal håndtere tredjepartskapsler. 
                </p>
            </div>
            <div class="content">
                <h2>Google Analytics</h2>
                <p>
                    Vi bruker Google Analytics for å fastslå samlede ytelsesmålinger av vår nettside. Google Analytics samler kun inn IP-adressen som er tildelt 
                    deg på den dagen du besøker dette nettstedet, i stedet for ditt navn eller annen identifiserende informasjon. Vi kombinerer ikke informasjonen 
                    som er samlet inn via bruk av Google Analytics med personlig identifiserbar informasjon.  
                </p>
                <br>
                <p>
                    Vi benytter også Googles DoubleClick annonsenettverk for å innhente samlet demografisk informasjon og interesseinformasjon om våre besøkende. 

                    Vi har ingen metode for å knytte denne samlede dataen til personlige data, og bruker kun denne dataen som Google gir oss for å bedre forstå 
                    våre besøkende og forfine vår markedsføringsstrategi, samtidig som vi holder våre drifts- og administrasjonskostnader lave.  
                </p>
                <br>
                <p>
                    Selv om Google Analytics plasserer en permanent informasjonskapsel på din nettleser for å identifisere deg som en unik bruker neste gang du besøker 
                    dette nettstedet, kan informasjonskapselen kun brukes av Google. Googles mulighet til å bruke og dele informasjon innsamlet av Google Analytics om 
                    dine besøk til dette nettstedet er begrenset av 
                    <a href="https://marketingplatform.google.com/about/analytics/terms/us/" class="linkpages">Google Analytics brukervilkår</a> 
                    og <a href="https://policies.google.com/privacy" class="linkpages">Googles personvernpolicy.</a> 

                    Du kan lese mer om Google Analytics informasjonskapsler, endre dine preferanser for 
                    <a href="https://myadcenter.google.com/home?sasb=true&ref=ad-settings" class="linkpages">Google Ads innstillinger</a>, 
                    eller du kan velge bort via Google Ads innstillinger. I tillegg tilbyr Google også et tilleggsprogram for nettlesere for å velge bort Google Analytics. 
                </p>
            </div>
            <div class="content">
                <h2>GDPR</h2>
                <p>
                    <a href="https://gdpr-info.eu/" class="linkpages">General Data Protection Regulation</a> (GDPR), 
                    en lov <a href="https://groups.google.com/a/annascosmetics.com/g/deoxycholic-acid/c/MfjUV4jP3J4/m/QooIm_3tAAAJ?pli=1" class="linkpages">vedtatt av EU</a>, 
                    har som mål å sikre at data er beskyttet og personvern er garantert gjennom en kombinasjon av sikkerhetstiltak, samtykke fra individer og tydeligere personvernregler. Takket være Peach Peoples langvarige fokus på sikkerhet, var vi allerede forberedt på mange aspekter av GDPR. 

                    Denne siden beskriver trinnene Peach People tok for å forberede seg på GDPR og de trinnene det fortsatt tar nå som forordningen er i kraft. 
                </p>
                <br>
                <h6>Sikkerhet </h6>
                <p>
                    Fra vår første dag har Peach People vært stolt av å beskytte brukerdata. I forberedelse til GDPR tok vi muligheten til å revidere vår interne 
                    "Informasjon og Teknologi Sikkerhetspolicy" og ga oppdatert opplæring til ansatte om IT-sikkerhet. Denne policyen har de nødvendige tekniske 
                    standardene og forretningsprosessene for å sikre at dine data er sikre.  
                </p>
                <br>
                <h6>Enkeltpersoners rettigheter </h6>
                <p>
                    Individer har en rekke tilleggsrettigheter som er innvilget under GDPR: 
                </p>
                <ul>
                    <li>
                        <strong>Rett til sletting:</strong> 
                        En person kan be om at en organisasjon sletter all data om den personen uten unødig forsinkelse. Du kan sende inn en forespørsel om å bli glemt 
                        ved å skrive til <a href="mailto:star@peachgroup.com" class="linkpages">star@peachgroup.com</a>.
                    </li>
                    <li>
                        <strong>Rett til innsigelse:</strong> 
                        En person kan forby visse databruk ved enkelt å kunne velge inn og ut av aktiviteter. Du kan gjennomgå dine personverninnstillinger ved 
                        å klikke på "Preferanser"-lenken nederst i våre e-postkommunikasjoner.
                    </li>
                    <li>
                        <strong>Rett til begrensning av behandling:</strong> 
                        En person kan be om å begrense eller 'blokkere' behandlingen. Du kan gjennomgå dine personverninnstillinger ved å klikke på 
                        "Preferanser"-lenken nederst i våre e-postkommunikasjoner.
                    </li>
                    <li>
                        <strong>Rett til rettelse: </strong> 
                        Individer kan be om at ufullstendige data blir fullført eller at feil data blir korrigert.  
                    </li>
                    <li>
                        <strong>Rett til tilgang:</strong> 
                        Individer har rett til å vite hvilke data om dem som blir behandlet og hvordan. Vi oppfordrer deg til å gjennomgå vår personvernerklæring.  
                    </li>
                    <li>
                        <strong>Rett til overførbarhet:</strong> 
                        Individer kan be om at personlige data som holdes av en organisasjon, blir overført til en annen. Du kan be om en eksport av dine data ved å skrive til
                         <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>.
                    </li>
                </ul>
                <br>
                <h6>EU-representant  </h6>
                <p>
                    For individer i Den europeiske unionen har Peach People utnevnt Peach Group AS som Peach Peoples representant i Den europeiske unionen i
                     henhold til artikkel 27 i GDPR. 
                </p>
                <br>
                <h6>Ansatteopplæring </h6>
                <p>
                    Vi har gjennomført opplæring for ansatte om beste praksis for sikkerhet og personvern, og vil fortsette å gi denne opplæringen til alle Peach 
                    People ansatte og frivillige på en regelmessig, gjentakende basis. 
                </p>
                <br>
                <h6>Spørsmål? Kontakt oss </h6>
                <p>
                    Du kan kontakte oss ved å bruke "Kontakt oss"-lenkene nederst på vår side eller ved å sende en e-post til
                    <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>
            </div>
        </div>
    </main>

  

    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På siden vår bruker vi cookies til å forbedre brukeropplevelsen, optimalisere websiden, og for markedsføring.
                    Ved å samtykke, aksepterer du hvordan vi bruker cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkjenn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Avslå</button>
                <button type="button" class="btn" id="customizeBtn">Tilpass cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nødvendige cookies – kan ikke skrus av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nødvendige cookies brukes til grunnleggende funksjoner som side-navigering og for å få tilgang til beskyttede 
                        deler av websiden. Websiden kan ikke fungere tilfredsstillende uten disse cookiene.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markedsføring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Denne cookien hjelper oss med å finne brukere som er interesserte i informasjon om forskjellige emner, 
                        sånn at vi gi deg relevante annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Lagre og lukk</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Les mer</button>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Kontakt oss</h4>
                    <p>E-post: star@peachgroup.no</p>
                    <p>Telefon: (+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Følg oss på</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Abonner på vårt nyhetsbrev</h4>
                    <p>Hold deg oppdatert med våre siste nyheter og kampanjer.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Legg inn din e-post">
                        <button type="submit" class="subscribeNews" data-language="Norwegian">Abonnere</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Alle rettigheter forbeholdt.</p>
        </div>
    </footer>
<!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../../public/js/header.js"></script>   
<script src="../../public/js/MessageSystem.js"></script>

<script>
    $(document).ready(function() {
        sessionStorage.setItem("selectedLanguage","no");
    });
</script>

</body>
</html>