<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Søk stillingen - Rekrutterer</title>
  <link rel="icon" type="image/png" href="../../img/logo.png" />
  <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../public/css/vacancy.css" />
  <link rel="stylesheet" href="../../public/css/header.css" />
  <link rel="stylesheet" href="../../public/css/sweetalert2.min.css">
  <link rel="stylesheet" href="../../public/css/MessageSystem.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
 
</head>

<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link">Hjem</a></li>
                    <li class="nav-item active"><a href="career.html" class="nav-link active">Ledige stillinger</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Språk</a>
                        <ul class="dropdown-menu language-dropdown">
                          <li><a href="../no/index.html">Norsk</a></li>
                          <li><a href="../sv/index.html">Svensk</a></li>
                          <li><a href="../fi/index.html">Finsk</a></li>
                          <li><a href="../da/index.html">Dansk</a></li>
                          <li><a href="../is/index.html">Islandsk</a></li>
                          <li><a href="../de/index.html">Tysk</a></li>
                          <li><a href="../fr/index.html">Fransk</a></li>
                          <li><a href="../en/index.html">Engelsk</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container heading">
        <div class="row managecontent">
        <h1>Bli med i vårt team som Rekrutterer</h1>
        </div>
        <div class="row managecontent">
        <p class="details">Vi leter etter en lidenskapelig og talentfull Rekrutterer som vil bli med i vårt team.</p>
        <p class="details"><i class="fas fa-building"></i> Bedrift : <span class="company-location">Peach Group</span></p>
        <p class="details"><i class="fas fa-map-marker-alt"></i> Land : <span class="company-location">Norge</span></p>
        </div>
    </div>
    <div class="container jobdescription mb-4">
        <div class="row managecontent">
            <p class="details">
                Peach Group vokser, og vi er på utkikk etter en dynamisk rekrutterer som kan hjelpe oss med å finne talentene som vil drive vår suksess.
                 Hvis du har et skarpt blikk for å oppdage potensial, evnen til å navigere i rekrutteringslandskapets kompleksiteter, og en lidenskap for 
                 å knytte rett folk til rett jobb, da er Peach Group ditt ideelle arbeidssted.
            </p>
        </div>
        <div class="row managecontent">
            <h4>Hovedansvar:</h4>
            <ul>
                <li>Håndterer hele rekrutteringsprosessen, fra stillingsutlysning til ansettelse</li>
                <li>Samarbeider med ansettelsesledere for å forstå spesifikke jobbkrav og ønskede kvalifikasjoner.</li>
                <li>Finner potensielle kandidater gjennom online plattformer, nettverksarrangementer og henvisningsprogrammer.</li>
                <li>Screener og intervjuer kandidater for å vurdere egnethet og kvalifikasjoner.</li>
                <li>Opprettholder en database over potensielle kandidater for fremtidige jobbåpninger.</li>
                <li>Gir regelmessige oppdateringer og tilbakemeldinger til ansettelsesledere angående kandidatstatus.</li>
                <li>Koordinerer og legger til rette for intervjuer med relevante avdelinger.</li>
                <li>Holder seg oppdatert om de siste trendene og beste praksisene innen rekruttering.</li>
                <li>Representerer Peach Group på jobbmesser og rekrutteringsarrangementer.</li>
                <li>Sikrer at alle rekrutteringsaktiviteter er i tråd med selskapets verdier og retningslinjer.</li>
            </ul>
        </div>
        <div class="row managecontent">
            <h4>Kvalifikasjoner:</h4>
            <ul>
              <li>Påvist erfaring som rekrutterer eller i en lignende rolle.</li>
              <li>Sterk forståelse av rekrutteringsstrategier og verktøy.</li>
              <li>Enestående kommunikasjons- og mellommenneskelige ferdigheter.</li>
              <li>Evne til å multitask og håndtere flere roller og kandidater samtidig.</li>
              <li>Kjennskap til HR-databaser og søkersporingssystemer (ATS).</li>
              <li>En løsningsorientert tankegang med en lidenskap for talentanskaffelse.</li>
            </ul>
            <p>Bli en del av Peach Group og bidra til vår vekst. Søk nå!</p>
        </div>
        
        <div class="row managecontent">
            <h2>Søk på stillingen</h2>
            <form id="applicationForm" method="POST" action="/submit-form" enctype="multipart/form-data">
            <label for="job">Søk på:</label>
            <input type="text" id="job" name="job" value="Rekrutterer" required disabled>

            <label for="fullName">Fullt navn:</label>
            <input type="text" id="fullName" name="fullName" required>

            <label for="phone">Telefon:</label>
            <input type="text" id="phone" name="phone" required>
            
            <label for="email">E-post:</label>
            <input type="email" id="email" name="email" required>

            <label for="aboutyou">Fortell om deg selv:</label>
            <textarea id="aboutyou"  name="aboutyou" class="aboutyou" rows="4"></textarea>
            
            <label for="cv">Last opp CV:</label>
            <input type="file" id="attachment" name="attachment" accept=".pdf,.doc,.docx">
            
            <button type="submit" class="btn modelBtn" data-lang="no">Send</button>
            </form>
        </div>
    </div>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>

    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På siden vår bruker vi cookies til å forbedre brukeropplevelsen, optimalisere websiden, og for markedsføring.
                    Ved å samtykke, aksepterer du hvordan vi bruker cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Godkjenn</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Avslå</button>
                <button type="button" class="btn" id="customizeBtn">Tilpass cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denne siden bruker cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nødvendige cookies – kan ikke skrus av</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nødvendige cookies brukes til grunnleggende funksjoner som side-navigering og for å få tilgang til beskyttede 
                        deler av websiden. Websiden kan ikke fungere tilfredsstillende uten disse cookiene.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markedsføring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Denne cookien hjelper oss med å finne brukere som er interesserte i informasjon om forskjellige emner, 
                        sånn at vi gi deg relevante annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Lagre og lukk</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Les mer</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Kontakt oss</h4>
                    <p>E-post: star@peachgroup.no</p>
                    <p>Telefon:(+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Følg oss på</h4>
                    <div class="social-icons">
                      <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                      <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                      <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                      <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
                <div class="col-md-4">
                    <h4>Abonner på vårt nyhetsbrev</h4>
                    <p>Hold deg oppdatert med våre siste nyheter og kampanjer.</p>
                    <form class="subscribe-form">
                      <input type="email" id="newsletter" placeholder="Legg inn din e-post">
                      <button type="submit" class="subscribeNews" data-language="Norwegian">Abonnere</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Alle rettigheter forbeholdt.</p>
        </div>
    </footer>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../public/js/header.js"></script>
  <script src="../../public/js/career.js"></script>
  <script src="../../public/js/sweetalert2.all.min.js"></script>
  <script src="../../public/js/sweetalert2.min.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>
  
  <script>
    $(document).ready(function() {
        sessionStorage.setItem("selectedLanguage","no");
        sessionStorage.setItem('languageCode', "no");
    });
</script>
</body>

</html>