<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peach People - Vacancies</title>
    <link rel="icon" type="image/png" href="../../img/logo.png" />
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/css/career.css" />
    <link rel="stylesheet" href="../../public/css/header.css" />
    <link rel="stylesheet" href="../../public/css/sweetalert2.min.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    
</head>

<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item "><a href="index.html" class="nav-link">Maison</a></li>
                    <li class="nav-item active"><a href="career.html" class="nav-link">Postes vacants</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Contact</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Langue</a>
                        <ul class="dropdown-menu language-dropdown">
                          <li><a href="../no/index.html">Norvégien</a></li>
                          <li><a href="../sv/index.html">Suédois</a></li>
                          <li><a href="../fi/index.html">Finlandais</a></li>
                          <li><a href="../da/index.html">Danois</a></li>
                          <li><a href="../is/index.html">Islandais</a></li>
                          <li><a href="../de/index.html">Allemand</a></li>
                          <li><a href="../fr/index.html">Français</a></li>
                          <li><a href="../en/index.html">Anglais</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
  <div class="headerimg">
    <div class="overlay"></div>
    <div class="text">Souhaitez-vous rejoindre notre équipe?</div>
    <div class="subtext mt-4">
        Chez Peach People, nous abordons la charité d'une manière totalement nouvelle et nous recherchons des personnes dévouées désireuses de façonner l'avenir avec nous.
    </div>
  </div>
  <div class="values-section">
    <h1 class="values-heading">Nos Valeurs Fondamentales</h1>
    <div class="row value-list">
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🌟</div>
          <h3 class="value-title">Innovation</h3>
          <p class="value-description">Nous valorisons la pensée créative et encourageons l'innovation dans tout ce que nous faisons.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🤝</div>
          <h3 class="value-title">Collaboration</h3>
          <p class="value-description">Nous cultivons une culture de travail d'équipe, de communication et de respect mutuel.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🌎</div>
          <h3 class="value-title">Diversité</h3>
          <p class="value-description">Nous célébrons la diversité et croyons qu'elle enrichit nos perspectives et nos solutions.
          </p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🔍</div>
          <h3 class="value-title">Transparence</h3>
          <p class="value-description">Nous fonctionnons avec honnêteté, transparence et communication claire.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🔥</div>
          <h3 class="value-title">Passion</h3>
          <p class="value-description">Nous sommes dédiés à notre mission et apportons de l'enthousiasme dans tout ce que nous entreprenons.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card value-cd">
          <div class="value-icon">🌱</div>
          <h3 class="value-title">Mentalité de Croissance</h3>
          <p class="value-description">Nous accueillons les défis, apprenons de nos échecs et cherchons constamment à nous améliorer.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="workwithus">
    <div class="container">
      <p>
        Peach People est un lieu de travail diversifié avec 120 employés venant de divers horizons, compétences et rôles. Avec des bureaux à Oslo et Göteborg, 
        nous offrons un environnement ouvert où nous valorisons le fait que chaque employé ait la liberté de s'épanouir dans son rôle tout en appréciant son travail. 
        Êtes-vous prêt à faire la différence?
      </p>
      <p>
        Découvrez des opportunités de carrière passionnantes ici. 👇
      </p>
    </div>
  </section>

  <section class="openPosition">  
      <h1 class="text-center mb-4">Postes vacants</h1>
      <div class="row">
        <div class="container joblistcontainer mb-4">
          <ul class="joblisting">
              <li class="joblist"><a href="generalmanager.html" class="jobdescriptionpage">Directeur général</a></li>
          </ul>
        </div>
      </div>
  </section>

   <!-- Overlay background -->
   <div class="overlay" id="overlay"></div>
   <!-- Modal de consentement aux cookies -->
   <div id="cookieConsent">
       <div class="container">
           <div class="cookieheading">
               <h4>Cette page utilise des cookies</h4>
           </div>
           <div class="cookiecontent">
               <p>
                   Sur notre site Web, nous utilisons des cookies pour améliorer l'expérience utilisateur, optimiser notre site Web et à des fins de marketing.
                   En cliquant sur accepter, vous acceptez notre utilisation de ces cookies.
               </p>
           </div>
           <div id="cookieConsentButtons">
               <button type="button" class="btn btn-success" id="acceptBtn">Accepter</button>
               <button type="button" class="btn btn-danger" id="rejectBtn">Refuser</button>
               <button type="button" class="btn" id="customizeBtn">Personnaliser les cookies</button>
           </div>
       </div>
   </div>
   <div class="customizecookie d-none">
       <div class="container">
           <div class="cookieheading cookiHeadingForCustomize">
               <h4>Cette page utilise des cookies</h4>
           </div>
           <div class="necessarycookie">
               <div class="row necesarryHeadingSetting">
                   <div class="col-9 necessaryheading">
                       <h5>Cookies nécessaires - ne peuvent pas être désactivés</h5>
                   </div>
                       <!-- Commutateur basculant -->
                   <div class="col-3 setChoice">
                       <label class="onoff-switch">
                           <input type="checkbox" id="necessaryCheckbox" checked disabled>
                           <span class="onoff-slider"></span>
                       </label>
                   </div>
               </div>
               
               <div class="necessarycontent">
                   <p>
                       Les cookies nécessaires gèrent des fonctions de base telles que la navigation dans les pages et l'accès aux zones sécurisées du site Web. Le site Web ne peut pas
                       fonctionner de manière optimale sans ces cookies.
                   </p>
               </div>
           </div>
           <div class="marketing">
               <div class="row necesarryHeadingSetting">
                   <div class="col-9 necessaryheading">
                       <h5>Marketing</h5>
                   </div>
                   <div class="col-3 setChoice">
                       <!-- Commutateur basculant -->
                       <label class="onoff-switch">
                           <input type="checkbox" id="marketingCheckBox" checked>
                           <span class="onoff-slider"></span>
                       </label>
                   </div>
               </div>

               <div class="necessarycontent">
                   <p>
                       Ce cookie nous aide à trouver des utilisateurs intéressés par des informations sur divers sujets afin que nous puissions vous fournir des publicités pertinentes de notre part.
                   </p>
               </div>

           </div>
           <div class="d-flex justify-content-between">
               <button type="button" class="btn btn-success" id="saveAndCloseCookies">Enregistrer et fermer</button>
               <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">En savoir plus</button>
           </div>
       </div>
   </div>

  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Contactez-nous</h4>
                <p>E-mail: star@peachgroup.no</p>
                <p>Téléphone: (+47) 982 34 223</p>
            </div>
            <div class="col-md-4">
                <h4>Suivez-nous sur</h4>
                <div class="social-icons">
                  <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                  <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="col-md-4">
                <h4>Abonnez-vous à notre newsletter</h4>
                <p>Restez informé avec nos dernières nouvelles et campagnes.</p>
                <form class="subscribe-form">
                  <input type="email" id="newsletter" placeholder="Entrez votre adresse e-mail">
                  <button type="submit" class="subscribeNews" data-language="French">S'abonner</button>
                </form>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2023 Peach People. Tous droits réservés.</p>
    </div>
</footer>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../public/js/header.js"></script>
  <script src="../../public/js/career.js"></script>
  <script src="../../public/js/sweetalert2.all.min.js"></script>
  <script src="../../public/js/sweetalert2.min.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>

  <script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'fr');
    });
</script>
</body>

</html>