<!--French Page-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - Global Communication</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DMTCYLY5M4"></script>
    <script>window.dataLayer = window.dataLayer || [];   function gtag(){dataLayer.push(arguments);}   gtag('js', new Date());   gtag('config', 'G-DMTCYLY5M4'); </script>
    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){
          if(f.fbq)return;n=f.fbq=function(){
            n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)
          };
          if(!f._fbq)
            f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)
        }
        (window, document,'script','https://connect.facebook.net/en_US/fbevents.js');
        
        fbq('init', '297517359558547');
        fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=297517359558547&ev=PageView&noscript=1"/></noscript>
        <!-- End Meta Pixel Code -->
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Maison</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Postes vacants</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Contact</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Langue</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norvégien</a></li>
                            <li><a href="../sv/index.html">Suédois</a></li>
                            <li><a href="../fi/index.html">Finlandais</a></li>
                            <li><a href="../da/index.html">Danois</a></li>
                            <li><a href="../is/index.html">Islandais</a></li>
                            <li><a href="../de/index.html">Allemand</a></li>
                            <li><a href="../fr/index.html">Français</a></li>
                            <li><a href="../en/index.html">Anglais</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="headerimg">
        <div class="overlay"></div>
        <div class="text"><span class="underscore">_</span><sub>the people company</sub></div>
    </div>
    <section class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>À propos de nous</h2>
                    <p>
                        Peach People n'est pas seulement notre entreprise de vente ; elle représente le cœur de notre activité. En tant qu'interface 
                        interne, ce département s'occupe exclusivement des représentants commerciaux dédiés de l'entreprise et s'assure qu'ils ont tout 
                        ce dont ils ont besoin pour réussir.
                    </p>
                    <p>
                        Avec une présence dans plusieurs pays, nos différents départements se concentrent principalement sur la vente et le
                        marketing, ce qui nous permet de maintenir notre engagement envers la qualité et l'innovation dans ces domaines.
                    </p>
                    <p>
                        De plus, dans le cadre de notre engagement continu envers la croissance et le recrutement de talents, le département 
                        offre également une voie pour les candidats potentiels. Ils peuvent facilement explorer les différentes opportunités de 
                        travail au sein de notre organisation et postuler, garantissant que nous continuons à construire une équipe solide et dynamique.
                    </p>
                    <!--<div class="link-container">
                        <a href="about-us.html" class="awesome-link">Souhaitez-vous en savoir plus sur nous ?<span class="click-here">Cliquez ici</span></a>
                    </div>-->
                </div>
                <div class="col-md-6">
                    <img src="../../img/about.png" alt="About Us Image">
                </div>
            </div>
        </div>
    </section>
    <section class="main-content py-5">
        <div class="container">
            <div class="text-center">
                <h2 class="section-title mb-3">DOMAINES SPÉCIALISÉS</h2>
                <div class="py-3">
                    <div class="line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="feature-item text-center">
                        <img src="../../img/sales.png" alt="Médiation de vente" class="feature-image">
                        <h5 class="feature-title">Médiation de vente</h5>
                        <p class="feature-description">
                            Nous possédons une compétence de vente de premier ordre dans tous les domaines liés à la vente. Nous vendons avec le cœur
                            et ne proposons que des produits et des services qui font une différence positive pour les personnes, les animaux
                            et l'environnement.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="feature-item text-center">
                        <img src="../../img/recruting.png" alt="Recrutement" class="feature-image">
                        <h5 class="feature-title">Recrutement</h5>
                        <p class="feature-description">
                            Notre infrastructure de recrutement étendue sert à la fois nos propres projets et nos clients externes. 
                            Nous élaborons pour vous la stratégie de recrutement idéale en combinant des méthodes digitales et traditionnelles.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="feature-item text-center">
                        <img src="../../img/staffing.png" alt="Recrutement de personnel" class="feature-image">
                        <h5 class="feature-title">Recrutement de personnel</h5>
                        <p class="feature-description">
                            Nous offrons des services de recrutement à grande échelle et avons des partenaires dans plusieurs pays. 
                            Que ce soit pour une entreprise de télémarketing ou pour de grands projets industriels, nous sommes prêts à aider.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Modal de consentement aux cookies -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Cette page utilise des cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    Sur notre site Web, nous utilisons des cookies pour améliorer l'expérience utilisateur, optimiser notre site Web et à des fins de marketing.
                    En cliquant sur accepter, vous acceptez notre utilisation de ces cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Accepter</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Refuser</button>
                <button type="button" class="btn" id="customizeBtn">Personnaliser les cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Cette page utilise des cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Cookies nécessaires - ne peuvent pas être désactivés</h5>
                    </div>
                        <!-- Commutateur basculant -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Les cookies nécessaires gèrent des fonctions de base telles que la navigation dans les pages et l'accès aux zones sécurisées du site Web. Le site Web ne peut pas
                        fonctionner de manière optimale sans ces cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marketing</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Commutateur basculant -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Ce cookie nous aide à trouver des utilisateurs intéressés par des informations sur divers sujets afin que nous puissions vous fournir des publicités pertinentes de notre part.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Enregistrer et fermer</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">En savoir plus</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Contactez-nous</h4>
                    <p>E-mail: star@peachgroup.no</p>
                    <p>Téléphone: (+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Suivez-nous sur</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Abonnez-vous à notre newsletter</h4>
                    <p>Restez informé avec nos dernières nouvelles et campagnes.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Entrez votre adresse e-mail">
                        <button type="submit" class="subscribeNews" data-language="French">S'abonner</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Tous droits réservés.</p>
        </div>
    </footer>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../public/js/header.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>

  <script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'fr');
    });
</script>
</body>
</html>
