<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - Privacy Policy</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item "><a href="index.html" class="nav-link">Maison</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link">Postes vacants</a></li>
                    <li class="nav-item active"><a href="contact-us.html" class="nav-link">Contact</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Langue</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norvégien</a></li>
                            <li><a href="../sv/index.html">Suédois</a></li>
                            <li><a href="../fi/index.html">Finlandais</a></li>
                            <li><a href="../da/index.html">Danois</a></li>
                            <li><a href="../is/index.html">Islandais</a></li>
                            <li><a href="../de/index.html">Allemand</a></li>
                            <li><a href="../fr/index.html">Français</a></li>
                            <li><a href="../en/index.html">Anglais</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h1>Politique de Confidentialité </h1>
            </div>
            <div class="content">
                <h2>Introduction </h2>
                <p>Cette politique décrit les données personnelles que nous collectons, comment nous les utilisons, et les choix qui s'offrent à vous. Peach People possède des profils d'entreprise sur Facebook et LinkedIn. Ceux-ci sont utilisés à des fins marketing. Nous ne collectons pas de données sur nos abonnés ou sur ceux qui commentent nos publications. Les données que LinkedIn et Facebook enregistrent et partagent avec nous sont basées sur des démographies et des statistiques globales, afin que nous puissions mieux adapter notre contenu.  
                </p>
            </div>
            <div class="content">
                <h2>Partage et transmission des données personnelles</h2>
                <p>
                    Nous recueillons des informations vous concernant lorsque vous visitez et interagissez sur notre site web. Nous utilisons ces informations pour fournir les services que vous avez demandés. Nous utilisons des cookies (tels que Google Analytics) pour offrir une meilleure expérience et améliorer notre site web, ainsi que des balises web et des technologies similaires pour suivre les modes d'utilisation et réaliser des actions marketing.  
                </p>
                <br>
                <p>
                    Vous pouvez accéder à vos données, modifier vos préférences, télécharger vos données ou révoquer votre consentement en visitant votre compte. Sauf pour les finalités décrites ci-dessous, nous ne vendrons, partagerons ni échangerons vos données personnelles avec quiconque. 
                </p>
                    
                <br>
                <p>
                    Pour plus de détails, veuillez vous référer à la politique complète. Notre politique de confidentialité prend en compte les exigences du <a href="https://gdpr-info.eu/" class="linkpages">Règlement Général sur la Protection des Données</a> (RGPD). 
                </p>
                <br>
                <p>
                    Si vous êtes basé dans l'Espace Économique Européen, nous ne transférerons pas vos données personnelles. Si vous avez des questions concernant notre politique de confidentialité, veuillez nous contacter à <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>.
                </p>  
   
            </div>
            <div class="content">
                <h2>Informations sur les cookies </h2>
                <p>
                    Les cookies sont de petits fichiers envoyés par un serveur à votre navigateur web. Ils sont stockés dans le cache de votre navigateur et permettent à un site web ou à un tiers de reconnaître votre navigateur. Il existe trois types principaux de cookies :
                </p>
                <br>
                <p>
                    Les cookies de session sont spécifiques à une visite particulière et transportent des informations lorsque vous visitez différentes pages, afin que vous n'ayez pas à saisir à nouveau des informations à chaque changement de page ou lors d'une tentative de paiement. Ces cookies expirent et se suppriment automatiquement après un court laps de temps, comme lorsque vous quittez le site ou fermez votre navigateur.
                </p>
                <br>
                <p>
                    Les cookies persistants mémorisent certaines informations sur vos préférences de navigation et permettent à Peach People de vous reconnaître à chaque visite. Ces cookies sont stockés dans le cache de votre navigateur ou sur votre appareil mobile jusqu'à ce que vous décidiez de les supprimer, et se suppriment généralement automatiquement à leur expiration
                </p>
                <br>
                <p>
                    Les cookies tiers sont placés par une entité autre que Peach People et peuvent collecter des informations sur votre navigation sur plusieurs sites web et pendant plusieurs sessions. Ils sont généralement de type persistant et restent stockés jusqu'à ce que vous les supprimiez ou qu'ils expirent selon la période définie pour chaque cookie tiers. 
                </p>
                <br>
                <p>
                    Les cookies stockent des données sur votre utilisation, mais sont utiles car ils permettent des fonctionnalités clés, telles que le paiement et la connexion, et nous permettent de personnaliser votre expérience. Vous pouvez configurer les paramètres de votre navigateur de bureau ou mobile pour refléter vos préférences en matière d'acceptation ou de refus des cookies, y compris la manière de gérer les cookies tiers. 
                </p>
            </div>
            <div class="content">
                <h2>Google Analytics</h2>
                <p>
                    Nous utilisons Google Analytics pour déterminer les performances globales de notre site. Google Analytics ne collecte que l'adresse IP qui vous est attribuée le jour de votre visite sur ce site, et non votre nom ou d'autres informations permettant de vous identifier. Nous ne combinons pas les informations collectées via Google Analytics avec des informations personnellement identifiables.  
                </p>
                <br>
                <p>
                    Nous utilisons également le réseau publicitaire DoubleClick de Google pour obtenir des données démographiques et d'intérêt agrégées sur nos visiteurs. Nous n'avons aucune méthode pour associer ces données agrégées à des données personnelles et n'utilisons ces données fournies par Google que pour mieux comprendre nos visiteurs et affiner notre stratégie marketing, tout en minimisant nos coûts opérationnels et administratifs. 
                </p>
                <br>
                <p>
                    Bien que Google Analytics place un cookie permanent sur votre navigateur web pour vous identifier en tant qu'utilisateur unique lors de votre prochaine visite, ce cookie ne peut être utilisé que par Google. La capacité de Google à utiliser et partager les informations collectées par Google Analytics concernant vos visites sur ce site est limitée par les <a href="https://marketingplatform.google.com/about/analytics/terms/us/" class="linkpages">Conditions d'utilisation de Google Analytics</a> et la <a href="https://policies.google.com/privacy" class="linkpages">Politique de confidentialité de Google</a>. 
                    Vous pouvez en savoir plus sur les cookies de Google Analytics, modifier vos préférences pour les <a href="https://myadcenter.google.com/home?sasb=true&ref=ad-settings" class="linkpages">Paramètres de publicité de Google</a>, ou vous pouvez vous désinscrire via les paramètres de publicité de Google. De plus, Google propose également un plug-in de désactivation pour Google Analytics pour le web.

                </p>
            </div>
            <div class="content">
                <h2>RGPD</h2>
                <p>
                    Le <a href="https://gdpr-info.eu/" class="linkpages">Règlement Général sur la Protection des Données</a> (RGPD), une loi <a href="https://groups.google.com/a/annascosmetics.com/g/deoxycholic-acid/c/MfjUV4jP3J4/m/QooIm_3tAAAJ?pli=1" class="linkpages">adoptée par l'UE</a>, vise à garantir que les données sont protégées et que la vie privée est assurée grâce à une combinaison de mesures de sécurité, de consentement des individus et de politiques de confidentialité plus claires. Grâce à l'attention de longue date de Peach People à la sécurité, nous étions déjà préparés à de nombreux aspects du RGPD. Cette page décrit les mesures prises par Peach People pour se préparer au RGPD et les mesures qu'elle continue de prendre maintenant que le règlement est en vigueur.
                </p>
                <br>
                <h6>Sécurité </h6>
                <p>
                    Dès le premier jour, Peach People s'est enorgueillie de protéger les données des utilisateurs. En préparation du RGPD, nous avons saisi l'opportunité de réviser notre "Politique de Sécurité de l'Information et de la Technologie" interne et avons fourni une formation mise à jour au personnel sur la sécurité informatique. Cette politique contient les normes techniques nécessaires et les processus commerciaux pour garantir la sécurité de vos données.
                </p>
                <br>
                <h6>Droits des individus  </h6>
                <p>
                    Les individus ont un certain nombre de droits supplémentaires qui leur sont accordés en vertu du RGPD :
                </p>
                <ul>
                    <li>
                        <strong>Droit à l'effacement :</strong> 
                        Un individu peut demander qu'une organisation efface toutes les données le concernant sans retard injustifié. Vous pouvez soumettre une demande d'oubli en écrivant à  <a href="mailto:star@peachgroup.com" class="linkpages">star@peachgroup.com</a>.
                    </li>
                    <li>
                        <strong>Droit d'opposition :</strong> 
                        Un individu peut interdire certaines utilisations de données en choisissant facilement de s'inscrire ou de se désinscrire d'activités. Vous pouvez consulter vos paramètres de confidentialité en cliquant sur le lien "Préférences" au bas de nos communications par e-mail.
                    </li>
                    <li>
                        <strong>Droit de limiter le traitement :</strong> 
                        Un individu peut demander à restreindre ou à "bloquer" le traitement. Vous pouvez consulter vos paramètres de confidentialité en cliquant sur le lien "Préférences" au bas de nos communications par e-mail.
                    </li>
                    <li>
                        <strong>Droit de rectification :</strong> 
                        Les individus peuvent demander que les données incomplètes soient complétées ou que les données incorrectes soient corrigées.
                    </li>
                    <li>
                        <strong>Droit d'accès :</strong> 
                        Les individus ont le droit de savoir quelles données les concernant sont traitées et comment. Nous vous encourageons à consulter notre politique de confidentialité.
                    </li>
                    <li>
                        <strong>Droit à la portabilité :</strong> 
                        Les individus peuvent demander que les données personnelles détenues par une organisation soient transférées à une autre. Vous pouvez demander l'exportation de vos données en écrivant à  <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>.
                    </li>
                </ul>
                <br>
                <h6>Représentant de l'UE  </h6>
                <p>
                    Pour les personnes résidant dans l'Union européenne, Peach People a nommé Peach Group AS comme représentant de Peach People dans l'Union européenne conformément à l'article 27 du RGPD.
                </p>
                <br>
                <h6>Formation du personnel  </h6>
                <p>
                    Nous avons organisé des formations pour notre personnel sur les meilleures pratiques en matière de sécurité et de confidentialité, et continuerons à fournir cette formation à tout le personnel et aux bénévoles de Peach People de manière régulière et récurrente. 
                </p>
                <br>
                <h6>Des questions ? Contactez-nous</h6>
                <p>
                    Vous pouvez nous contacter en utilisant les liens "Contactez-nous" en bas de notre site ou en envoyant un e-mail à <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>
            </div>
        </div>
    </main>

    
     <!-- Modal de consentement aux cookies -->
     <div id="cookieConsent">
         <div class="container">
             <div class="cookieheading">
                 <h4>Cette page utilise des cookies</h4>
             </div>
             <div class="cookiecontent">
                 <p>
                     Sur notre site Web, nous utilisons des cookies pour améliorer l'expérience utilisateur, optimiser notre site Web et à des fins de marketing.
                     En cliquant sur accepter, vous acceptez notre utilisation de ces cookies.
                 </p>
             </div>
             <div id="cookieConsentButtons">
                 <button type="button" class="btn btn-success" id="acceptBtn">Accepter</button>
                 <button type="button" class="btn btn-danger" id="rejectBtn">Refuser</button>
                 <button type="button" class="btn" id="customizeBtn">Personnaliser les cookies</button>
             </div>
         </div>
     </div>
     <div class="customizecookie d-none">
         <div class="container">
             <div class="cookieheading cookiHeadingForCustomize">
                 <h4>Cette page utilise des cookies</h4>
             </div>
             <div class="necessarycookie">
                 <div class="row necesarryHeadingSetting">
                     <div class="col-9 necessaryheading">
                         <h5>Cookies nécessaires - ne peuvent pas être désactivés</h5>
                     </div>
                         <!-- Commutateur basculant -->
                     <div class="col-3 setChoice">
                         <label class="onoff-switch">
                             <input type="checkbox" id="necessaryCheckbox" checked disabled>
                             <span class="onoff-slider"></span>
                         </label>
                     </div>
                 </div>
                 
                 <div class="necessarycontent">
                     <p>
                         Les cookies nécessaires gèrent des fonctions de base telles que la navigation dans les pages et l'accès aux zones sécurisées du site Web. Le site Web ne peut pas
                         fonctionner de manière optimale sans ces cookies.
                     </p>
                 </div>
             </div>
             <div class="marketing">
                 <div class="row necesarryHeadingSetting">
                     <div class="col-9 necessaryheading">
                         <h5>Marketing</h5>
                     </div>
                     <div class="col-3 setChoice">
                         <!-- Commutateur basculant -->
                         <label class="onoff-switch">
                             <input type="checkbox" id="marketingCheckBox" checked>
                             <span class="onoff-slider"></span>
                         </label>
                     </div>
                 </div>
 
                 <div class="necessarycontent">
                     <p>
                         Ce cookie nous aide à trouver des utilisateurs intéressés par des informations sur divers sujets afin que nous puissions vous fournir des publicités pertinentes de notre part.
                     </p>
                 </div>
 
             </div>
             <div class="d-flex justify-content-between">
                 <button type="button" class="btn btn-success" id="saveAndCloseCookies">Enregistrer et fermer</button>
                 <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">En savoir plus</button>
             </div>
         </div>
     </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Contactez-nous</h4>
                    <p>E-mail: star@peachgroup.no</p>
                    <p>Téléphone: (+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Suivez-nous sur</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Abonnez-vous à notre newsletter</h4>
                    <p>Restez informé avec nos dernières nouvelles et campagnes.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Entrez votre adresse e-mail">
                        <button type="submit" class="subscribeNews" data-language="French">S'abonner</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Tous droits réservés.</p>
        </div>
    </footer>
<!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../../public/js/header.js"></script>   
<script src="../../public/js/MessageSystem.js"></script>

<script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'fr');
    });
</script>
</body>
</html>