<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - Contact Us</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/contactus.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Vacancies</a></li>
                    <li class="nav-item active"><a href="contact-us.html" class="nav-link">Contact</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Language</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norwegian</a></li>
                            <li><a href="../sv/index.html">Swedish</a></li>
                            <li><a href="../fi/index.html">Finnish</a></li>
                            <li><a href="../da/index.html">Danish</a></li>
                            <li><a href="../is/index.html">Icelandic</a></li>
                            <li><a href="../de/index.html">German</a></li>
                            <li><a href="../fr/index.html">French</a></li>
                            <li><a href="../en/index.html">English</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="headerimg">
      <div class="overlay"></div>
      <div class="text">Get in touch</div>
      <div class="subtext">We'd love to hear from you. Fill out your information below and we'll get in touch.</div>
    </div>
    <div class="container contact-section">
        <div class="contact-form">
            <form>
                <label for="name">Name <span class="astric">*</span></label>
                <input type="text" class="contactInput" id="name" name="name" required>
    
                <label for="email">Email  <span class="astric">*</span></label>
                <input type="email" class="contactInput" id="email" name="email" required>

                <label for="phone">Phone  <span class="astric">*</span></label>
                <input type="phone" class="contactInput" id="phone" name="phone" required>
    
                <label for="message">What is it about?  <span class="astric">*</span></label>
                <textarea id="message" class="contactInput" name="message" rows="4" required></textarea>
                
                <label for="privacy">Privacy  <span class="astric">*</span></label>
               
                <label class="checkbox-container">
                    <input type="checkbox" id="privacy">
                    <span class="checkmark"></span>
                    <span class="privacyMsg">Peach People can contact me and use the information in accordance with 
                        <a href="privacy.html" class="privacyPage">the privacy policy</a> 
                    </span>
                </label>
                <span class="errMsg"></span>
                <br>
                <button type="submit" id="contactBtn">Send</button>
            </form>

            <div class="success-message" id="successMessage">
                <p>Thanks for reaching out! We will contact you soon after reviewing your message.</p>
            </div>
            <div class="error-message" id="errorMessage">
                <p>Error sending email. Please try again later.</p>
            </div>
        </div>
        <div class="company-addresses">
            <div class="address">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.5737995313035!2d10.740512914772318!3d59.91277996834207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416dd7d787c509%3A0xed171fc0cf44c161!2sKarl%20Johans%20gate%2041A%2C%200162%20Oslo%2C%20Norway!5e0!3m2!1sen!2sus!4v1630893344843!5m2!1sen!2sus" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                
            </div>
            <!--<div class="address">
                <i class="fas fa-map-marker-alt"></i>
                <span>Drottninggatan 31, 411 14 Göteborg</span>
            </div>-->
        </div>
    </div>

   <!-- Overlay background -->
   <div class="overlay" id="overlay"></div>
   <!-- Cookie Consent Modal -->
   <div id="cookieConsent">
       <div class="container">
           <div class="cookieheading">
               <h4>This page uses cookies</h4>
           </div>
           <div class="cookiecontent">
               <p>
                   On our website we use cookies to improve the user experience, optimize our website and for marketing.
                   By clicking accept, you agree to our use of these cookies.
               </p>
           </div>
           <div id="cookieConsentButtons">
               <button type="button" class="btn btn-success" id="acceptBtn">Approve</button>
               <button type="button" class="btn btn-danger" id="rejectBtn">Decline</button>
               <button type="button" class="btn" id="customizeBtn">Customize cookies</button>
           </div>
       </div>
   </div>
   <div class="customizecookie d-none">
       <div class="container">
           <div class="cookieheading cookiHeadingForCustomize">
               <h4>This page uses cookies</h4>
           </div>
           <div class="necessarycookie">
               <div class="row necesarryHeadingSetting">
                   <div class="col-9 necessaryheading">
                       <h5>Necessary cookies - cannot be turned off</h5>
                   </div>
                       <!-- Toggle Switch -->
                   <div class="col-3 setChoice">
                       <label class="onoff-switch">
                           <input type="checkbox" id="necessaryCheckbox" checked disabled>
                           <span class="onoff-slider"></span>
                       </label>
                   </div>
               </div>
               
               <div class="necessarycontent">
                   <p>
                       Necessary cookies handle basic functions such as page navigation and access to secure areas of the website.The website can not
                       function optimally without these cookies.
                   </p>
               </div>
           </div>
           <div class="marketing">
               <div class="row necesarryHeadingSetting">
                   <div class="col-9 necessaryheading">
                       <h5>Marketing</h5>
                   </div>
                   <div class="col-3 setChoice">
                       <!-- Toggle Switch -->
                       <label class="onoff-switch">
                           <input type="checkbox" id="marketingCheckBox" checked>
                           <span class="onoff-slider"></span>
                       </label>
                   </div>
               </div>

               <div class="necessarycontent">
                   <p>
                       This cookie helps us to find users who are intrested in information on various topics so that we can 
                       provide you with relevant advertisments from us.
                   </p>
               </div>

           </div>
           <div class="d-flex justify-content-between">
               <button type="button" class="btn btn-success" id="saveAndCloseCookies">Save and Close</button>
               <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Read more</button>
           </div>
       </div>
    </div>

    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h4>Contact Us</h4>
                  <p>Email: star@peachgroup.no</p>
                  <p>Phone: (+47) 982 34 223</p>
              </div>
                <div class="col-md-4">
                    <h4>Follow Us</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
              <div class="col-md-4">
                    <h4>Subscribe to Our Newsletter</h4>
                    <p>Stay updated with our latest news and promotions.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Enter your email">
                        <button type="submit" class="subscribeNews" data-language="English">Subscribe</button>
                    </form>
              </div>
          </div>
          <hr>
          <p class="text-center">&copy; 2023 Peach People. All rights reserved.</p>
      </div>
  </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/js/header.js"></script>
    <script src="../../public/js/contact.js"></script>
    <script src="../../public/js/MessageSystem.js"></script>

    <script>
        $(document).ready(function() {
            sessionStorage.setItem('selectedLanguage', 'en');
        });
    </script>
</body>
</html>