<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - Privacy Policy</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Vacancies</a></li>
                    <li class="nav-item active"><a href="contact-us.html" class="nav-link">Contact</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Language</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norwegian</a></li>
                            <li><a href="../sv/index.html">Swedish</a></li>
                            <li><a href="../fi/index.html">Finnish</a></li>
                            <li><a href="../da/index.html">Danish</a></li>
                            <li><a href="../is/index.html">Icelandic</a></li>
                            <li><a href="../de/index.html">German</a></li>
                            <li><a href="../fr/index.html">French</a></li>
                            <li><a href="../en/index.html">English</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h1>Privacy Policy</h1>
            </div>
            <div class="content">
                <h2>Introduction</h2>
                <p>This policy describes what personal data we collect, how we use it, and your choices.
                    Peach People  has company profiles on Facebook and LinkedIn . These are used for marketing purposes. 
                    We do not collect data about our followers or those who comment on what we share. Data that LinkedIn and Facebook 
                    register and share with us is based on overall demographics and statistics so that we can further adapt our content.  
                </p>
            </div>
            <div class="content">
                <h2>Sharing and forwarding of personal data</h2>
                <p>
                    We collect information from you when you visit and take actions on our website. We use this information to provide the services 
                    you've requested. We use cookies (such as Google Analytics) to provide a better experience and improve our website and 
                    web beaconsand similar technologies to track usage patterns and conduct marketing. 
                </p>
                <br>
                <p>
                    You can access your data, edit your preferences, download your data, or revoke consent by visiting your account. 
                    Except for the purposes outlined below,we will not trade, share, or sell your personal data with anyone. Refer 
                    to the policy for complete details.
                </p>
                    
                <br>
                <p>
                    Our Privacy Policy takes into account the requirements of the <a href="https://gdpr-info.eu/" class="linkpages">General Data Protection Regulation</a> ("GDPR").
                    If you are based in the European Economic Area, we will not transfer your personal data.
                </p>
                <br>
                <p>
                    If you have any questions about our Privacy Policy, please contact us at <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>  
   
            </div>
            <div class="content">
                <h2>Information cookies</h2>
                <p>
                    Cookies are small data files sent from a server to your web browser. They are stored in your browser's cache and allow a 
                    website or a third party to recognize your browser. There are three primary types of cookies: 
                </p>
                <br>
                <p>
                    Session cookies are specific to a particular visit and carry information as you view different pages so you don't have to re-enter information every time you change pages or attempt to checkout. Session cookies 
                    expire and delete themselves automatically in a short period of time like after you leave the site or when you close your web browser. 
                </p>
                <br>
                <p>
                    Persistent cookies remember certain information about your preferences for viewing the Website, and allow Instaraising to recognize you each time you return. Persistent cookies are stored 
                    on your browser cache or mobile device until you choose to delete them, and otherwise typically delete themselves at expiration. 
                </p>
                <br>
                <p>
                    Third-party cookies are placed by someone other than Instaraising, and may gather browsing activity across multiple websites and across multiple sessions. They 
                    are usually a type of persistent cookie and are stored until you delete them or they expire based on the time period set in each third-party cookie. 
                </p>
                <br>
                <p>
                    Cookies store data about your use, but they are helpful because they enable key functionality, such as checkout and login, and allow us to customize your experience. You can configure 
                    your desktop or mobile browser's settings to reflect your preference to accept or reject cookies, including how to handle third-party cookies 
                </p>
            </div>
            <div class="content">
                <h2>Google Analytics</h2>
                <p>
                    We use Google Analytics to determine aggregate performance metrics about our site. Google Analytics collects only the IP address 
                    assigned to you on the date you visit this site, rather than your name or other identifying information. We do not combine the 
                    information collected through the use of Google Analytics with personally identifiable information. 
                </p>
                <br>
                <p>
                    We also leverage Google's DoubleClick ad network to obtain aggregate demographic and interest data about of visitors. 
                    We have no method to map this aggregate data to personal data and only use this data provided by Google to better understand 
                    our visitors and refine our marketing strategy while keeping our overhead and administrative costs low. 
                </p>
                <br>
                <p>
                    Although Google Analytics places a permanent cookie on your web browser to identify you as a unique user the next time you 
                    visit this site, the cookie cannot be used by anyone but Google. Google's ability to use and share information collected by 
                    Google Analytics about your visits to this site is restricted by the 
                    <a href="https://marketingplatform.google.com/about/analytics/terms/us/" class="linkpages">Google Analytics Terms of Use</a> 
                    and the <a href="https://policies.google.com/privacy" class="linkpages">Google Privacy Policy.</a> 
                    You can read more about Google Analytics cookies, change your preferences for 
                    <a href="https://myadcenter.google.com/home?sasb=true&ref=ad-settings" class="linkpages">Google Ads Settings</a>, or you 
                    can opt-out through Google Ads Settings. In addition, Google also provides a Google Analytics opt-out plug-in for the web. 
                </p>
            </div>
            <div class="content">
                <h2>GDPR</h2>
                <p>
                    The <a href="https://gdpr-info.eu/" class="linkpages">General Data Protection Regulation</a>(GDPR),
                    a law <a href="https://groups.google.com/a/annascosmetics.com/g/deoxycholic-acid/c/MfjUV4jP3J4/m/QooIm_3tAAAJ?pli=1" class="linkpages">passed by the EU</a>, aims to ensure that data is protected 
                    and privacy is ensured through a combination of security measures, consent from individuals, and clearer privacy 
                    policies. Thanks to Peach People's long-standing focus on security, we were already prepared for many aspects of GDPR. 
                    This page outlines the steps Peach People took to prepare for the GDPR and to the steps it continues to take now that the 
                    regulation is in effect. 
                </p>
                <br>
                <h6>Security </h6>
                <p>
                    From our first day, Peach People has prided itself on protecting user data. In preparation for GDPR, we took the opportunity 
                    to revise our internal "Information and Technology Security Policy" and provided updated training to staff on IT security. 
                    This policy has the necessary technical standards and business processes to ensure that your data is secure. 
                </p>
                <br>
                <h6>Rights of Individuals </h6>
                <p>
                    Individuals have a number of additional rights that are granted to them under GDPR:
                </p>
                <ul>
                    <li>
                        <strong>Right to Erasure:</strong> 
                        An individual may request that an organization delete all data on that individual without undue delay. You can submit a 
                        request to be forgotten by writing to <a href="mailto:star@peachgroup.com" class="linkpages">star@peachgroup.com</a>.
                    </li>
                    <li>
                        <strong>Right to Object:</strong> 
                        An individual may prohibit certain data uses by easily being able to opt-in and opt-out of activities. You can review your 
                        privacy settings by clicking on the "Preferences" link at the bottom of our email communications.
                    </li>
                    <li>
                        <strong>Right to Restrict Processing:</strong> 
                        An individual may ask to restrict or 'block' the processing. You can review your privacy settings by clicking on 
                        the "Preferences" link at the bottom of our email communications.
                    </li>
                    <li>
                        <strong>Right to Rectification:</strong> 
                        Individuals may request that incomplete data be completed or that incorrect data be corrected.
                    </li>
                    <li>
                        <strong>Right of Access:</strong> 
                        Individuals have the right to know what data about them is being processed and how. We encourage you to 
                        review our Privacy Policy.
                    </li>
                    <li>
                        <strong>Right of Portability:</strong> 
                        Individuals may request that personal data held by one organization be transported to another. You may request an export 
                        of your data by writing to <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>.
                    </li>
                </ul>
                <br>
                <h6>EU Representative </h6>
                <p>
                    For individuals in the European Union, Instaraising has appointed Peach Group AS as Peach People’s representative in the 
                    European Union pursuant to Article 27 of the GDPR. 
                </p>
                <br>
                <h6>Staff Training </h6>
                <p>
                    We have conducted staff training on best practices for security and privacy, and will continue to provide this training to
                    all Instaraising staff and volunteers on a regular, recurring basis. 
                </p>
                <br>
                <h6>Questions? Contact Us </h6>
                <p>
                    You may contact us by using the "Contact Us" links on the footer of our site or by 
                    sending an email to<a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>
            </div>
        </div>
    </main>
    
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>This page uses cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    On our website we use cookies to improve the user experience, optimize our website and for marketing.
                    By clicking accept, you agree to our use of these cookies.
                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Approve</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Decline</button>
                <button type="button" class="btn" id="customizeBtn">Customize cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>This page uses cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Necessary cookies - cannot be turned off</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Necessary cookies handle basic functions such as page navigation and access to secure areas of the website.The website can not
                        function optimally without these cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Marketing</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        This cookie helps us to find users who are intrested in information on various topics so that we can 
                        provide you with relevant advertisments from us.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Save and Close</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Read more</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <p>Email: star@peachgroup.no</p>
                    <p>Phone: (+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Follow Us</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Subscribe to Our Newsletter</h4>
                    <p>Stay updated with our latest news and promotions.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Enter your email">
                        <button type="submit" class="subscribeNews" data-language="English">Subscribe</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. All rights reserved.</p>
        </div>
    </footer>
<!-- Scripts -->

<script src="../../vendors/jquery/jquery-3.4.1.slim.min.js"></script>
<script src="../../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../../public/js/header.js"></script>   
<script src="../../public/js/MessageSystem.js"></script>
<script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'en');
    });
</script>
</body>
</html>