body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #76938F, #004547);
    font-family: Arial, sans-serif;
}

.story{
    background-color: #fff; /* Background color for the section */
    padding: 50px 0;
    text-align: center;
}

.story h3 {
    font-size: 30px;
    color: #EC6B2F;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
}
.story p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 750px;
}

.content1 {
    background-color: #fff; /* Background color for the section */
    padding: 50px 0;
    
}

.maintext{
    padding-top: 30px;
}

.content1 h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.content1 p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.content1 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.whatarewe{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    /*transform: rotate(-5deg); */
    /*box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.whatarewe:hover {
    transform: rotate(0); /* Reverting rotation on hover */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Enhancing box-shadow on hover */
}

.meet-our-team {
    background-color: #f9f9f9; /* Background color for the section */
    padding: 50px 0;
    text-align: center;
}
.meet-our-team h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}
.team-member {
    padding: 20px;
    /*background-color: #fff;*/
    border-radius: 5px;
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;*/
}
.team-member img {
      max-width: 150px;
      border-radius: 50%; 
      margin-bottom: 20px;
      width: 100px;
      height: 100px;
      object-fit: cover;
}
.team-member h4 {
    font-size: 24px;
    margin-bottom: 10px;
}
.team-member p {
    color: #666;
}
/*.team-member:hover {
    transform: translateY(-5px); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}*/