body, h1, h2, p {
    margin: 0;
    padding: 0;
}
.content {
    padding: 30px;
    /*border-bottom: 1px solid #e0e0e0;*/
    /*background-color: bisque;*/
}
  
 
h1 {
    font-size: 2rem;
    color: #333;
}
  
h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 10px;
}
  
p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}
.linkpages{
    color: #EC6B2F;
    text-decoration: none;
}

.linkpages:hover{
    color: #EC6B2F;
    text-decoration: none;
}