body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #76938F, #004547);
  font-family: Arial, sans-serif;
}

.headerimg {
  position: relative;
  background-image: url('../../img/career.png');
  background-size: cover;
  background-position: center;
  text-align: center; /* Center-align text */
  color: white;
  padding: 20% 0; /* Adjust padding for responsiveness */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 57, 57, 0.6); /* Use rgba for transparency */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw; /* Use viewport width unit for responsive font size */
  max-width: 90%; /* Limit max width for responsiveness */
  color: white;
  text-align: center;
}

.subtext {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2vw; /* Use viewport width unit for responsive font size */
  max-width: 90%; /* Limit max width for responsiveness */
  color: white;
  text-align: center;
}

.headerimg span {
  font-size: 1em;
  display: block;
  max-width: 90%; /* Limit max width for responsiveness */
  margin-top: 20px;
  text-align: center; /* Center-align text */
  color: white;
}

@media screen and (max-width: 768px) {
 
  .text {
    font-size: 2.5vw; /* Reduce font size for smaller screens */
  }

  .subtext {
    font-size: 1.5vw; /* Reduce font size for smaller screens */
  }
}

.values-section {
  background-color: #f7f7f7;
  text-align: center;
  padding: 60px 0;
}

.value-list {
  justify-content: center;
  gap: 20px;
  /*max-width: 1200px;*/
  margin: 0 auto;
  padding: 0 20px;
}

.value-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  min-height: 275px;
  text-align: center;
  transition: transform 0.3s ease;
}

.value-card:hover {
  transform: translateY(-5px);
}

.value-icon {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 1rem;
}

.value-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.value-description {
  font-size: 1rem;
  line-height: 1.6;
}

.position-card {
  display: flex;
  border-bottom: 1px solid #ccc; ;
  padding: 20px;
  margin-bottom: 20px;
}

.position-info {
  flex: 1;
  padding-right: 20px;
}

.position-details {
  font-size: 0.9rem;
  color: #666;
}

@media screen and (max-width: 768px) {
  .position-card {
    padding: 10px; /* Adjust padding for better spacing on mobile */
  }
}

.openPosition{
  background-color: #ffffff;
}
.jobBtn{
  background-color: #EC6B2F;
  color: #fff;
}

.jobBtn:hover{
  background-color: #df5616;
  color: #fff;
}



.dropdown-container {
  position: relative;
  text-align: right;
}

.dropdown {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

.dropbtn {
  background-color: #EC6B2F;
  color: #fff;
  min-width: 140px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  top: 100%;
  right: 0;
  background-color: #EC6B2F;
  color: #fff;
  min-width: 140px;
  z-index: 1;
  border: 1px solid #ddd;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #c94305;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  .dropdown-container {
    text-align: left; /* Adjust alignment for mobile view */
  }

  .dropdown {
    align-items: flex-start; /* Adjust alignment for mobile view */
  }

  .dropbtn {
    width: 100%; /* Make the button full width for mobile */
  }

  .dropdown-content {
    top: auto; /* Remove top positioning for mobile */
    right: auto; /* Remove right positioning for mobile */
    min-width: auto; /* Remove minimum width for mobile */
  }

  .dropdown-content a {
    padding: 12px 20px; /* Adjust padding for better spacing on mobile */
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 480px) {
  .dropdown-container {
    text-align: left; /* Adjust alignment for smaller screens */
  }

  .dropdown {
    align-items: flex-start; /* Adjust alignment for smaller screens */
  }

  .dropbtn {
    width: 100%; /* Make the button full width for smaller screens */
  }

  .dropdown-content {
    top: auto; /* Remove top positioning for smaller screens */
    right: auto; /* Remove right positioning for smaller screens */
    min-width: auto; /* Remove minimum width for smaller screens */
  }

  .dropdown-content a {
    padding: 12px 20px; /* Adjust padding for better spacing on smaller screens */
  }
}


/* Styles for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  position: relative;
  animation: modal-anim 0.3s ease;
  font-family: Arial, sans-serif;

}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

@keyframes modal-anim {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}
.aboutyou{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}
.modelBtn {
  background-color: #EC6B2F;
  ;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.modelBtn:hover {
  background-color: #c94305;
  color: #fff;
}

.file-input {
  margin-top: 10px;
}

.file-input input[type="file"] {
  display: none;
}

.file-input label {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
}

.file-input label:hover {
  background-color: #0056b3;
}
/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {

  .modal-content {
    width: 90%; /* Adjust width for better fit on smaller screens */
    margin-top: 70%;
  }

  .close {
    top: 5px;
    right: 5px;
    font-size: 18px;
  }
}



.workwithus {
  background-color: #fff;
  padding: 100px 0;
  text-align: center;
}
.workwithus p {
  font-size: 20px;
  line-height: 1.6;
  color: #555;
  max-width: 800px;
  margin: 0 auto 30px;
}
.workwithus span {
  color: #d63f55;
  text-decoration: none;
  transition: color 0.3s;
}

.no-results-message {
  text-align: center; 
  color: #EC6B2F;;
  
}

.joblistcontainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
}
.joblisting {
  list-style-type: none;
  padding: 0;
}
.joblist {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s;
}
.joblist:hover {
  background-color: #333;
  color: #fff;
}
.jobdescriptionpage {
  text-decoration: none;
  color: #EC6B2F;
}

.jobdescriptionpage:hover{
  color: #fff;
}


