

header {
    position: sticky;
    top: 0;
    background-color: #fff; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 2;
}

.logo {
    margin-left: 20px;
}
.logo-img{
    width: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
}


nav {
    position: relative;
    color: #333;
    padding: 10px 20px;
    z-index: 2;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: transparent; 
    transition: background-color 0.3s, box-shadow 0.3s;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Apply styles when scrolled */
.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list {
    position: relative;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

.nav-list li:hover a {
    color: #EC6B2F;
}

.nav-list li.active a {
    border-bottom: 2px solid #EC6B2F;
    color: #EC6B2F;
}

.nav-list .language {
    position: relative;
    z-index: 3;
}

.nav-list li .language-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    min-width: 120px;
    z-index: 1;
}

.nav-list li .language-dropdown li {
    padding: 8px 0;
    margin: 0;
    transition: background-color 0.2s, color 0.2s;
    width: 100%;
    text-align: center;
}

.nav-list li .language-dropdown li:hover {
    background-color: #76938F;
}

.nav-list li .language-dropdown li:hover a {
    color: #fff;
}

.nav-list li .language-dropdown li a {
    color: #333;
}

.nav-list li:hover .language-dropdown {
    display: block;
}

.company-slogan {
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    color: #EC6B2F;
}

/* Media query for mobile and tablet styles */
@media (max-width: 768px) {
    nav {
        padding: 10px; 
        flex-direction: column; 
        text-align: center; 
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px; 
    }

    nav li {
        margin: 10px 0;
    }

    .logo {
        flex-direction: column; 
        align-items: center; 
    }

    .company-slogan {
        margin: 10px 0;
    }

    .scrolled {
        position: static; 
    }
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.footer h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 16px;
    margin-bottom: 15px;
}

.subscribe-form input[type="email"],
.subscribe-form button {
    padding: 10px;
    border: none;
    font-size: 16px;
}

.subscribe-form input[type="email"] {
    width: 70%;
    border-radius: 5px 0 0 5px;
}

.subscribe-form button {
    background-color: #fbd0a7; 
    color: #333;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}


/* .cookie-consent-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998; 
    display: none; 
}

.cookie-consent {
    position: fixed;
    bottom: -100px;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    color: #333;
    padding: 15px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: bottom 1s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 9999;
  } */

  /* Styles for mobile and tablet views */
/* @media (max-width: 768px) {
    .cookie-consent {
       
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        transition: bottom 1s ease-in-out, opacity 0.5s ease-in-out;
        z-index: 9999;
       
    }
} */

/* Styles for tablet views */
/* @media (max-width: 1024px) {
    .cookie-consent {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        transition: bottom 1s ease-in-out, opacity 0.5s ease-in-out;
        z-index: 9999;
    }
}

@media (min-width: 1025px) {
    .cookie-consent {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        transition: bottom 1s ease-in-out, opacity 0.5s ease-in-out;
        z-index: 9999;
    }
}

  .cookie-consent-text {
    flex: 1;
    font-size: 14px;
    line-height: 1.4;
  }
  .cookie-consent-accept {
    padding: 8px 18px;
    background-color: #EC6B2F;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .cookie-consent-accept:hover {
    background-color: #e74b03;
  }

  .cookie-consent-learn-more{
    color : #EC6B2F;
  }

  .cookie-consent-learn-more :hover{
    color : #e74b03;
    text-decoration: none;
  } */



   /* Overlay background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
  
  /* New design */
#cookieConsent {
    display: none;
    width: 500px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #f8f8f8;
    color: #333;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}
  
  /* Media query for tablets (portrait mode) and mobile phones */
@media (max-width: 768px) {
    #cookieConsent {
      width: 90%; /* Adjust the width to fit smaller screens */
      max-width: 500px; /* Set a maximum width for larger screens */
      left: 50%; /* Center the element horizontally */
      transform: translateX(-50%); /* Adjust for centering */
      bottom: 10px; /* Adjust bottom position for smaller screens */
      right: auto; /* Reset right position */
    }
}
  
  
#cookieConsentButtons button {
    margin-right: 10px;
}
.cookieheading{
    padding: 10px;
    text-align: left;
}
.cookiecontent,
.necessarycookie,
.marketing{
    padding: 10px;
}
#acceptBtn,
#rejectBtn{
    /* background-color: #00aeef; */
    border-radius: 20px;
    color: #fff;
}
  
#customizeBtn{
    text-decoration: underline;
    color: #EC6B2F;
}
  
.customizecookie {
    width: 500px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f8f9fa;
    border: 1px solid #d1d3e2;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}
  
  /* Media query for screens smaller than 768px (typical tablet and mobile screens) */
@media (max-width: 768px) {
    .customizecookie {
      width: 90%; /* Adjust the width to fit smaller screens */
      max-width: 90%; /* Set a maximum width for smaller screens */
      left: 50%; /* Center the element horizontally */
      transform: translateX(-50%); /* Adjust for centering */
      bottom: 10px; /* Adjust bottom position for smaller screens */
      right: auto; /* Reset right position */
    }
}
  
  /* Styles for the on/off switch container */
.onoff-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Styles for the hidden input checkbox */
.onoff-switch input {
    display: none;
}
  
  /* Styles for the slider (handle) */
.onoff-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}
  
  /* Styles for the slider when the switch is turned on */
.onoff-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}
  
  /* Styles for the checked state of the hidden input (switch on) */
.onoff-switch input:checked + .onoff-slider {
    background-color: #2196F3; /* Blue color when on */
}
  
  /* Styles for the checked state of the hidden input (move the slider to the right) */
.onoff-switch input:checked + .onoff-slider:before {
    transform: translateX(26px);
}
  
.cookiHeadingForCustomize{
    color: #006991;
}
  
.readMorePrivacyBtn{
    color: #006991;
    text-decoration: underline;
}
  
.onoff-switch input:disabled + .onoff-slider {
    background-color: #2196F3; /* Change the background color to visually indicate disabled state */
    cursor: not-allowed; /* Change cursor to not-allowed to indicate it's not clickable */
}
  
  


