
.jobdescription {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading{
    justify-content: center;
    text-align: center;
}

.heading h1{
    color: #EC6B2F;
}

.managecontent {
    margin: 20px 0;
}


.details {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.company-location {
    font-weight: bold;
    color: #EC6B2F;
}

/* Style the job description */
.resonsibilities {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

/* Style the list of responsibilities and qualifications */
ul {
    list-style: disc;
    margin-left: 20px;
}

/* Style the form labels */
form label {
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

/* Style the form input fields and textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style the file input field */
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #EC6B2F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #d34e10;
    color: #fff;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .jobdescription {
        padding: 10px;
    }

    .heading h1 {
        font-size: 24px;
    }

    .details {
        font-size: 14px;
    }

    .resonsibilities {
        font-size: 16px;
    }
}