<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - About Us</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/aboutus.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Hjem</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Ledige stillinger</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sprog</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norsk</a></li>
                            <li><a href="../sv/index.html">Svensk</a></li>
                            <li><a href="../fi/index.html">finsk</a></li>
                            <li><a href="../da/index.html">Dansk</a></li>
                            <li><a href="../is/index.html">Islandsk</a></li>
                            <li><a href="../de/index.html">Tysk</a></li>
                            <li><a href="../fr/index.html">Fransk</a></li>
                            <li><a href="../en/index.html">Engelsk</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="content1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 maintext">
                    <h3>Hvem vi er</h3>
                    <p>
                        Peach People er ikke kun vores salgsselskab; det repræsenterer hjertet af vores forretningsaktiviteter. Formet som en intern hub, 
                        tager denne afdeling udelukkende sig af firmaets dedikerede salgsrepræsentanter og sikrer, at de har alt, hvad de behøver for at have succes.
                    </p>
                    <p>
                        Med en tilstedeværelse i flere lande, har vores forskellige afdelinger hovedfokus på salg og markedsføring, hvilket sikrer, at vi 
                        bevarer vores engagement i kvalitet og innovation på disse områder.
                    </p>
                    <p>
                        Endvidere, som en del af vores fortsatte forpligtelse til vækst og talentrekruttering, giver afdelingen også en vej for potentielle kandidater.
                         De kan nemt udforske og ansøge om forskellige jobmuligheder, der er tilgængelige inden for vores organisation, hvilket sikrer, at vi fortsætter 
                         med at bygge et stærkt, dynamisk team.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="whatarewe" src="../../img/managment.png" alt="What Are We">
                </div>
            </div>
        </div>
    </section>

    <section class="story">
        <div class="contaioner">
            <h3>Vores mål er at reducere global fattigdom med 5% i det næste årti.</h3>
        </div>
    </section>

    <section class="meet-our-team">
        <div class="container">
            <h2>Meet Our Team</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Overlay background -->
    <div class="overlay" id="overlay"></div>
    <!-- Cookie Consent Modal -->
    <div id="cookieConsent">
        <div class="container">
            <div class="cookieheading">
                <h4>Denne side bruger cookies</h4>
            </div>
            <div class="cookiecontent">
                <p>
                    På vores side bruger vi cookies til at forbedre brugeroplevelsen, optimere websiden, og til markedsføring.
                    Ved at give samtykke accepterer du, hvordan vi bruger cookies.

                </p>
            </div>
            <div id="cookieConsentButtons">
                <button type="button" class="btn btn-success" id="acceptBtn">Acceptér</button>
                <button type="button" class="btn btn-danger" id="rejectBtn">Afvis</button>
                <button type="button" class="btn" id="customizeBtn">Tilpas cookies</button>
            </div>
        </div>
    </div>
    <div class="customizecookie d-none">
        <div class="container">
            <div class="cookieheading cookiHeadingForCustomize">
                <h4>Denne side bruger cookies</h4>
            </div>
            <div class="necessarycookie">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Nødvendige cookies – kan ikke slås fra</h5>
                    </div>
                        <!-- Toggle Switch -->
                    <div class="col-3 setChoice">
                        <label class="onoff-switch">
                            <input type="checkbox" id="necessaryCheckbox" checked disabled>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>
                
                <div class="necessarycontent">
                    <p>
                        Nødvendige cookies bruges til grundlæggende funktioner som side-navigation 
                        og for at få adgang til beskyttede dele af websiden. Websiden kan ikke fungere tilfredsstillende uden disse cookies.
                    </p>
                </div>
            </div>
            <div class="marketing">
                <div class="row necesarryHeadingSetting">
                    <div class="col-9 necessaryheading">
                        <h5>Markedsføring</h5>
                    </div>
                    <div class="col-3 setChoice">
                        <!-- Toggle Switch -->
                        <label class="onoff-switch">
                            <input type="checkbox" id="marketingCheckBox" checked>
                            <span class="onoff-slider"></span>
                        </label>
                    </div>
                </div>

                <div class="necessarycontent">
                    <p>
                        Denne cookie hjælper os med at finde brugere, der er interesserede i information om forskellige emner, 
                        så vi kan give dig relevante annonser.
                    </p>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="saveAndCloseCookies">Gem ændringer og luk</button>
                <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Læs mere</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Kontakt os</h4>
                    <p>E-mail: star@peachgroup.no</p>
                    <p>Telefon: (+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Følg os på</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/the.peoplecompany/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Tilmeld dig vores nyhedsbrev</h4>
                    <p>Hold dig opdateret med vores seneste nyheder og kampagner.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Indtast din e-mail">
                        <button type="submit" class="subscribeNews" data-language="Danish">Tilmeld</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Alle rettigheder forbeholdes.</p>
        </div>
    </footer>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../js/header.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>

  <script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'da');
    });
</script>
    
</body>
</html>