<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peach People - Vacancies</title>
    <link rel="icon" type="image/png" href="../../img/logo.png" />
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/css/career.css" />
    <link rel="stylesheet" href="../../public/css/header.css" />
    <link rel="stylesheet" href="../../public/css/sweetalert2.min.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
   
</head>

<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link">Hjem</a></li>
                    <li class="nav-item active"><a href="career.html" class="nav-link active">Ledige stillinger</a></li>
                    <li class="nav-item "><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sprog</a>
                        <ul class="dropdown-menu language-dropdown">
                          <li><a href="../no/index.html">Norsk</a></li>
                          <li><a href="../sv/index.html">Svensk</a></li>
                          <li><a href="../fi/index.html">finsk</a></li>
                          <li><a href="../da/index.html">Dansk</a></li>
                          <li><a href="../is/index.html">Islandsk</a></li>
                          <li><a href="../de/index.html">Tysk</a></li>
                          <li><a href="../fr/index.html">Fransk</a></li>
                          <li><a href="../en/index.html">Engelsk</a></li>
                      </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
  <div class="headerimg">
    <div class="overlay"></div>
    <div class="text">Vil du blive en del af vores hold?</div>
    <div class="subtext mt-4">
        Hos Peach People arbejder vi med velgørenhed på en helt ny måde, og vi er på udkig efter dedikerede personer, som ønsker at forme fremtiden sammen med os.
    </div>
  </div>
  <div class="values-section">
    <h1 class="values-heading">Vore Kerneværdier</h1>
    <div class="row value-list">
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🌟</div>
          <h3 class="value-title">Innovation</h3>
          <p class="value-description">Vi omfavner kreativ tænkning og fremmer nytænkning i alt, hvad vi gør.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🤝</div>
          <h3 class="value-title">Samarbejde</h3>
          <p class="value-description">Vi understøtter en kultur af teamwork, kommunikation, og gensidig respekt.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🌎</div>
          <h3 class="value-title">Mangfoldighed</h3>
          <p class="value-description">Vi fejrer mangfoldighed og mener, at det beriger vores perspektiver og løsninger.
          </p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🔍</div>
          <h3 class="value-title">Gennemsigtighed</h3>
          <p class="value-description">Vi opererer med ærlighed, åbenhed, og klar kommunikation.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card">
          <div class="value-icon">🔥</div>
          <h3 class="value-title">Passion</h3>
          <p class="value-description">Vi er dedikerede til at nå vores mål og bringer entusiasme ind i alt, hvad vi gør.</p>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="value-card value-cd">
          <div class="value-icon">🌱</div>
          <h3 class="value-title">Vækstmentalitet</h3>
          <p class="value-description">Vi tager udfordringer op, lærer af fejl, og stræber altid efter forbedringer.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="workwithus">
    <div class="container">
      <p>
        Peach People er en mangfoldig arbejdsplads med 120 medarbejdere fra forskellige baggrunde, kompetencer og arbejdsopgaver. 
        Med kontorer i Oslo og Göteborg, har vi en åben atmosfære, hvor vi værdsætter, at alle ansatte har friheden til at udvikle sig i deres job, 
        samtidig med at de trives på arbejdet. Er du klar til at gøre en forskel? 
      </p>
      <p>
        Udforsk spændende karrieremuligheder her. 👇
      </p>
    </div>
  </section>

  <section class="openPosition">  
      <h1 class="text-center mb-4">Ledige stillinger</h1>
      <div class="row">
        <div class="container joblistcontainer mb-4">
          <ul class="joblisting">
              <li class="joblist"><a href="generalmanager.html" class="jobdescriptionpage">Daglig leder</a></li>
          </ul>
        </div>
      </div>
  </section>

   <!-- Overlay background -->
   <div class="overlay" id="overlay"></div>
   <!-- Cookie Consent Modal -->
   <div id="cookieConsent">
       <div class="container">
           <div class="cookieheading">
               <h4>Denne side bruger cookies</h4>
           </div>
           <div class="cookiecontent">
               <p>
                   På vores side bruger vi cookies til at forbedre brugeroplevelsen, optimere websiden, og til markedsføring.
                   Ved at give samtykke accepterer du, hvordan vi bruger cookies.

               </p>
           </div>
           <div id="cookieConsentButtons">
               <button type="button" class="btn btn-success" id="acceptBtn">Acceptér</button>
               <button type="button" class="btn btn-danger" id="rejectBtn">Afvis</button>
               <button type="button" class="btn" id="customizeBtn">Tilpas cookies</button>
           </div>
       </div>
   </div>
   <div class="customizecookie d-none">
       <div class="container">
           <div class="cookieheading cookiHeadingForCustomize">
               <h4>Denne side bruger cookies</h4>
           </div>
           <div class="necessarycookie">
               <div class="row necesarryHeadingSetting">
                   <div class="col-9 necessaryheading">
                       <h5>Nødvendige cookies – kan ikke slås fra</h5>
                   </div>
                       <!-- Toggle Switch -->
                   <div class="col-3 setChoice">
                       <label class="onoff-switch">
                           <input type="checkbox" id="necessaryCheckbox" checked disabled>
                           <span class="onoff-slider"></span>
                       </label>
                   </div>
               </div>
               
               <div class="necessarycontent">
                   <p>
                       Nødvendige cookies bruges til grundlæggende funktioner som side-navigation 
                       og for at få adgang til beskyttede dele af websiden. Websiden kan ikke fungere tilfredsstillende uden disse cookies.
                   </p>
               </div>
           </div>
           <div class="marketing">
               <div class="row necesarryHeadingSetting">
                   <div class="col-9 necessaryheading">
                       <h5>Markedsføring</h5>
                   </div>
                   <div class="col-3 setChoice">
                       <!-- Toggle Switch -->
                       <label class="onoff-switch">
                           <input type="checkbox" id="marketingCheckBox" checked>
                           <span class="onoff-slider"></span>
                       </label>
                   </div>
               </div>

               <div class="necessarycontent">
                   <p>
                       Denne cookie hjælper os med at finde brugere, der er interesserede i information om forskellige emner, 
                       så vi kan give dig relevante annonser.
                   </p>
               </div>

           </div>
           <div class="d-flex justify-content-between">
               <button type="button" class="btn btn-success" id="saveAndCloseCookies">Gem ændringer og luk</button>
               <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Læs mere</button>
           </div>
       </div>
   </div>

  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Kontakt os</h4>
                <p>E-mail: star@peachgroup.no</p>
                <p>Telefon: (+47) 982 34 223</p>
            </div>
            <div class="col-md-4">
                <h4>Følg os på</h4>
                <div class="social-icons">
                  <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                  <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="col-md-4">
                <h4>Tilmeld dig vores nyhedsbrev</h4>
                <p>Hold dig opdateret med vores seneste nyheder og kampagner.</p>
                <form class="subscribe-form">
                  <input type="email" id="newsletter" placeholder="Indtast din e-mail">
                  <button type="submit" class="subscribeNews" data-language="Danish">Tilmeld</button>
                </form>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2023 Peach People. Alle rettigheder forbeholdes.</p>
    </div>
</footer>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../public/js/header.js"></script>
  <script src="../../public/js/career.js"></script>
  <script src="../../public/js/sweetalert2.all.min.js"></script>
  <script src="../../public/js/sweetalert2.min.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>

  <script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'da');
    });
</script>
</body>

</html>