<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - Privacy Policy</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link">Hjem</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Ledige stillinger</a></li>
                    <li class="nav-item active"><a href="contact-us.html" class="nav-link">Kontakt</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sprog</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norsk</a></li>
                            <li><a href="../sv/index.html">Svensk</a></li>
                            <li><a href="../fi/index.html">finsk</a></li>
                            <li><a href="../da/index.html">Dansk</a></li>
                            <li><a href="../is/index.html">Islandsk</a></li>
                            <li><a href="../de/index.html">Tysk</a></li>
                            <li><a href="../fr/index.html">Fransk</a></li>
                            <li><a href="../en/index.html">Engelsk</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h1>Persondatapolitik</h1>
            </div>
            <div class="content">
                <h2>Introduktion</h2>
                <p>Denne erklæring beskriver, hvilke personoplysninger vi indsamler, hvordan vi bruger dem, og hvilke valg du har. Peach People har virksomhedsprofiler på Facebook og LinkedIn. Disse bruges til markedsføringsformål. Vi indsamler ikke data om vores følgere eller dem, der kommenterer, hvad vi deler. Data, som LinkedIn og Facebook registrerer og deler med os, er baseret på generel demografi og statistik, så vi kan tilpasse vores indhold bedre.  
                </p>
            </div>
            <div class="content">
                <h2>Deling og videresendelse af personoplysninger </h2>
                <p>
                    Vi indsamler oplysninger fra dig, når du besøger og foretager handlinger på vores hjemmeside. Vi bruger disse oplysninger til at levere de tjenester, du har anmodet om. Vi bruger cookies (såsom Google Analytics) for at tilbyde en bedre oplevelse og forbedre vores hjemmeside, samt web-beacons og lignende teknologier til at spore brugsmønstre og drive markedsføring. 
                </p>
                <br>
                <p>
                    Du kan få adgang til dine data, redigere dine præferencer, downloade dine data eller trække dit samtykke tilbage ved at besøge din konto. Bortset fra de formål, der er skitseret nedenfor, vil vi ikke bytte, dele eller sælge dine personoplysninger med nogen. 
                </p>
                    
                <br>
                <p>
                    Se erklæringen for komplette detaljer. Vores persondatapolitik tager hensyn til kravene i <a href="https://gdpr-info.eu/" class="linkpages">General Data Protection Regulation</a> ("GDPR"). Hvis du er baseret i EØS (Det Europæiske Økonomiske Samarbejdsområde), vil vi ikke overføre dine personoplysninger. 
                    

                </p>
                <br>
                <p>
                    Har du spørgsmål om vores persondatapolitik, bedes du kontakte os på <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>  
   
            </div>
            <div class="content">
                <h2>Information om cookies </h2>
                <p>
                    Cookies er små datafiler, der sendes fra en server til din browser. De lagres i browserens cache og gør det muligt for et website eller en tredjepart at genkende din browser. Der er tre primære typer cookies: 
                </p>
                <br>
                <p>
                    Sessionscookies er specifikke for et bestemt besøg og bærer information, når du ser på forskellige sider, så du ikke behøver at indtaste oplysninger hver gang du skifter side eller forsøger at betale. Sessionscookies udløber og sletter sig selv automatisk efter en kort periode, som efter at du forlader hjemmesiden eller lukker din browser. 
                </p>
                <br>
                <p>
                    Persistente cookies husker bestemte oplysninger om dine præferencer for visning af hjemmesiden og gør det muligt for Peach People at genkende dig hver gang du vender tilbage. Persistente cookies opbevares i browserens cache eller på din mobile enhed, indtil du vælger at slette dem, og sletter typisk sig selv ved udløb.  
                </p>
                <br>
                <p>
                    Tredjepartscookies placeres af nogen anden end Peach People og kan indsamle browsingaktivitet på tværs af flere hjemmesider og over flere sessioner. De er typisk en form for persistent cookie og opbevares, indtil du sletter dem, eller de udløber baseret på den tidsperiode, der er sat i hver tredjepartscookie. 
                </p>
                <br>
                <p>
                    Cookies lagrer data om din brug, men de er nyttige, fordi de muliggør nøglefunktionalitet, såsom betaling og login, og giver os mulighed for at tilpasse din oplevelse. Du kan konfigurere indstillingerne på din desktop- eller mobilbrowser for at afspejle dine præferencer vedrørende accept eller afvisning af cookies, herunder hvordan du håndterer tredjepartscookies.
                </p>
            </div>
            <div class="content">
                <h2>Google Analytics</h2>
                <p>
                    Vi bruger Google Analytics for at bestemme samlede præstationsmålinger for vores hjemmeside. Google Analytics indsamler kun den IP-adresse, der er tildelt dig på den dag, du besøger dette website, snarere end dit navn eller anden identificerende information. Vi kombinerer ikke de oplysninger, der indsamles gennem brugen af Google Analytics med personligt identificerbare oplysninger. 
                </p>
                <br>
                <p>
                    Vi bruger også Googles DoubleClick annonce netværk for at indhente samlet demografisk information og interesseoplysninger om vores besøgende. Vi har ingen metode til at kortlægge disse samlede data til personlige data og bruger kun disse data, som Google leverer, for at bedre forstå vores besøgende og finjustere vores markedsføringsstrategi, samtidig med at vi holder vores drifts- og administrationsomkostninger lave. 
                </p>
                <br>
                <p>
                    Selvom Google Analytics placerer en permanent cookie på din browser for at identificere dig som en unik bruger næste gang du besøger dette website, kan cookien kun bruges af Google. Googles evne til at bruge og dele oplysninger indsamlet af Google Analytics om dine besøg på dette site er begrænset af <a href="https://marketingplatform.google.com/about/analytics/terms/us/" class="linkpages">Google Analytics brugervilkår</a> og <a href="https://policies.google.com/privacy" class="linkpages">Googles privatlivspolitik.</a> 
                    Du kan læse mere om Google Analytics cookies, ændre dine præferencer for <a href="https://myadcenter.google.com/home?sasb=true&ref=ad-settings" class="linkpages">Google Ads indstillinger</a>, eller du kan fravælge gennem Google Ads indstillinger. Desuden tilbyder Google også en browser-tilføjelse for at fravælge Google Analytics.
 
                </p>
            </div>
            <div class="content">
                <h2>GDPR</h2>
                <p>
                    <a href="https://gdpr-info.eu/" class="linkpages">General Data Protection Regulation</a> (GDPR), en lov <a href="https://groups.google.com/a/annascosmetics.com/g/deoxycholic-acid/c/MfjUV4jP3J4/m/QooIm_3tAAAJ?pli=1" class="linkpages">vedtaget af EU</a>, har til formål at sikre, at data er beskyttet og privatliv er garanteret gennem en kombination af sikkerhedsforanstaltninger, samtykke fra individer og klarere privatlivspolitikker. Takket være Peach Peoples langvarige fokus på sikkerhed, var vi allerede forberedt på mange aspekter af GDPR. Denne side beskriver de trin Peach People tog for at forberede sig på GDPR og de trin, den fortsætter med nu, hvor forordningen er i kraft.
                </p>
                <br>
                <h6>Sikkerhed </h6>
                <p>
                    Fra vores første dag har Peach People været stolt af at beskytte brugerdata. I forberedelse til GDPR tog vi muligheden for at revidere vores interne "Information og Teknologi Sikkerhedspolitik" og gav opdateret træning til medarbejdere om IT-sikkerhed. Denne politik har de nødvendige tekniske standarder og forretningsprocesser for at sikre, at dine data er sikre.
                </p>
                <br>
                <h6>Enkeltpersoners rettigheder </h6>
                <p>
                    Enkeltpersoner har en række yderligere rettigheder, der gives under GDPR: 
                </p>
                <ul>
                    <li>
                        <strong>Rettighed til sletning:</strong> 
                        En person kan anmode om, at en organisation sletter alle data om den person uden unødig forsinkelse. Du kan indsende en anmodning om at blive glemt ved at skrive til  <a href="mailto:star@peachgroup.com" class="linkpages">star@peachgroup.com</a>.
                    </li>
                    <li>
                        <strong>Rettighed til indsigelse:</strong> 
                        En person kan forbyde visse databrug ved nemt at kunne tilmelde og afmelde aktiviteter. Du kan gennemgå dine privatlivsindstillinger ved at klikke på "Præferencer"-linket nederst i vores e-mail-kommunikationer. 
                    </li>
                    <li>
                        <strong>Rettighed til begrænsning af behandling:</strong> 
                        En person kan anmode om at begrænse eller 'blokere' behandlingen. Du kan gennemgå dine privatlivsindstillinger ved at klikke på "Præferencer"-linket nederst i vores e-mail-kommunikationer. 
                    </li>
                    <li>
                        <strong>Rettighed til rettelse:</strong> 
                        Enkeltpersoner kan anmode om, at ufuldstændige data bliver fuldført, eller at forkerte data bliver rettet. 
                    </li>
                    <li>
                        <strong>Rettighed til adgang:</strong> 
                        Enkeltpersoner har ret til at vide, hvilke data om dem der behandles og hvordan. Vi opfordrer dig til at gennemgå vores persondatapolitik. 
                    </li>
                    <li>
                        <strong>Rettighed til overførbarhed:</strong> 
                        Enkeltpersoner kan anmode om, at personlige data, der holdes af en organisation, overføres til en anden. Du kan anmode om en eksport af dine data ved at skrive til  <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>.
                    </li>
                </ul>
                <br>
                <h6>EU-repræsentant </h6>
                <p>
                    For enkeltpersoner i Den Europæiske Union har Peach People udpeget Peach Group AS som Peach Peoples repræsentant i Den Europæiske Union i henhold til artikel 27 i GDPR.
                </p>
                <br>
                <h6>Medarbejdertræning </h6>
                <p>
                    Vi har gennemført træning for medarbejdere om bedste praksis for sikkerhed og privatliv og vil fortsætte med at give denne træning til alle Peach People medarbejdere og frivillige på en regelmæssig, tilbagevendende basis. 
                </p>
                <br>
                <h6>Spørgsmål? Kontakt os  </h6>
                <p>
                    Du kan kontakte os ved at bruge "Kontakt os"-linksene nederst på vores side eller ved at sende en e-mail til <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>
            </div>
        </div>
    </main>

   
     <!-- Cookie Consent Modal -->
     <div id="cookieConsent">
         <div class="container">
             <div class="cookieheading">
                 <h4>Denne side bruger cookies</h4>
             </div>
             <div class="cookiecontent">
                 <p>
                     På vores side bruger vi cookies til at forbedre brugeroplevelsen, optimere websiden, og til markedsføring.
                     Ved at give samtykke accepterer du, hvordan vi bruger cookies.
 
                 </p>
             </div>
             <div id="cookieConsentButtons">
                 <button type="button" class="btn btn-success" id="acceptBtn">Acceptér</button>
                 <button type="button" class="btn btn-danger" id="rejectBtn">Afvis</button>
                 <button type="button" class="btn" id="customizeBtn">Tilpas cookies</button>
             </div>
         </div>
     </div>
     <div class="customizecookie d-none">
         <div class="container">
             <div class="cookieheading cookiHeadingForCustomize">
                 <h4>Denne side bruger cookies</h4>
             </div>
             <div class="necessarycookie">
                 <div class="row necesarryHeadingSetting">
                     <div class="col-9 necessaryheading">
                         <h5>Nødvendige cookies – kan ikke slås fra</h5>
                     </div>
                         <!-- Toggle Switch -->
                     <div class="col-3 setChoice">
                         <label class="onoff-switch">
                             <input type="checkbox" id="necessaryCheckbox" checked disabled>
                             <span class="onoff-slider"></span>
                         </label>
                     </div>
                 </div>
                 
                 <div class="necessarycontent">
                     <p>
                         Nødvendige cookies bruges til grundlæggende funktioner som side-navigation 
                         og for at få adgang til beskyttede dele af websiden. Websiden kan ikke fungere tilfredsstillende uden disse cookies.
                     </p>
                 </div>
             </div>
             <div class="marketing">
                 <div class="row necesarryHeadingSetting">
                     <div class="col-9 necessaryheading">
                         <h5>Markedsføring</h5>
                     </div>
                     <div class="col-3 setChoice">
                         <!-- Toggle Switch -->
                         <label class="onoff-switch">
                             <input type="checkbox" id="marketingCheckBox" checked>
                             <span class="onoff-slider"></span>
                         </label>
                     </div>
                 </div>
 
                 <div class="necessarycontent">
                     <p>
                         Denne cookie hjælper os med at finde brugere, der er interesserede i information om forskellige emner, 
                         så vi kan give dig relevante annonser.
                     </p>
                 </div>
 
             </div>
             <div class="d-flex justify-content-between">
                 <button type="button" class="btn btn-success" id="saveAndCloseCookies">Gem ændringer og luk</button>
                 <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Læs mere</button>
             </div>
         </div>
     </div>
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Kontakt os</h4>
                    <p>E-mail: star@peachgroup.no</p>
                    <p>Telefon: (+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Følg os på</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Tilmeld dig vores nyhedsbrev</h4>
                    <p>Hold dig opdateret med vores seneste nyheder og kampagner.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Indtast din e-mail">
                        <button type="submit" class="subscribeNews" data-language="Danish">Tilmeld</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Alle rettigheder forbeholdes.</p>
        </div>
    </footer>
<!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../../public/js/header.js"></script>  
<script src="../../public/js/MessageSystem.js"></script> 
<script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'da');
    });
</script>
</body>
</html>