<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - About Us</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/aboutus.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Heim</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link active">Laus störf</a></li>
                    <li class="nav-item"><a href="contact-us.html" class="nav-link">Hafðu samband</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tungumál</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norska</a></li>
                            <li><a href="../sv/index.html">Sænsku</a></li>
                            <li><a href="../fi/index.html">Finnska</a></li>
                            <li><a href="../da/index.html">Danska</a></li>
                            <li><a href="../is/index.html">íslenskur</a></li>
                            <li><a href="../de/index.html">þýska</a></li>
                            <li><a href="../fr/index.html">Franska</a></li>
                            <li><a href="../en/index.html">Enska</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <section class="content1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 maintext">
                    <h3>Hver við erum</h3>
                    <p>
                        Peach People er ekki bara salaferli okkar; það tákna hjarta viðskiptastarfsemi okkar. Mótað sem innanríkis miðstöð, sér þessi 
                        deild einungis um sérhæfða sölufulltrúar fyrirtækisins og gætir þess að þeir hafi allt sem þeir þurfa til að ná árangri.
                    </p>
                    <p>
                        Með veru í mörgum löndum, hafa mismunandi deildir okkar aðaláherslu á sölu og markaðssetningu, sem tryggir að við halldum 
                        okkur við skilyrði okkar um gæði og nýsköpun á þessum sviðum.
                    </p>
                    <p>
                        Að auki, sem hluti af stöðugri skilyrði okkar til vaxtar og talentaöflunar, býður deildin upp á leið fyrir hugsanlega umsækjendur. 
                        Þeir geta auðveldlega kynnt sér og sótt eftir mismunandi starfskostum sem eru í boði innan félagsins, sem tryggir að við halldum áfram 
                        að byggja upp sterkt, lifandi lið.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="whatarewe" src="../../img/managment.png" alt="What Are We">
                </div>
            </div>
        </div>
    </section>

    <section class="story">
        <div class="contaioner">
            <h3>Markmið okkar er að draga úr alþjóðlegri fátækt um 5% á næstu áratug.</h3>
        </div>
    </section>

    <section class="meet-our-team">
        <div class="container">
            <h2>Meet Our Team</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 1">
                        <h4>John Doe</h4>
                        <p>CEO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 2">
                        <h4>Jane Smith</h4>
                        <p>COO</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../img/person.png" alt="Team Member 3">
                        <h4>Michael Johnson</h4>
                        <p>CTO</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- Overlay background -->
     <div class="overlay" id="overlay"></div>
     <!-- Cookie Consent Modal -->
     <div id="cookieConsent">
         <div class="container">
             <div class="cookieheading">
                 <h4>Þessi síða notar vafrakökur</h4>
             </div>
             <div class="cookiecontent">
                 <p>
                     Á síðu okkar notum við vafrakökur til að bæta notendaupplifun, hámarka vefsíðu og fyrir markaðssetningu.
                     Með því að samþykkja samþykkir þú hvernig við notum vafrakökur.
 
                 </p>
             </div>
             <div id="cookieConsentButtons">
                 <button type="button" class="btn btn-success" id="acceptBtn">Samþykkja</button>
                 <button type="button" class="btn btn-danger" id="rejectBtn">Hafna</button>
                 <button type="button" class="btn" id="customizeBtn">Sérsníða vafrakökur</button>
             </div>
         </div>
     </div>
     <div class="customizecookie d-none">
         <div class="container">
             <div class="cookieheading cookiHeadingForCustomize">
                 <h4>Þessi síða notar vafrakökur</h4>
             </div>
             <div class="necessarycookie">
                 <div class="row necesarryHeadingSetting">
                     <div class="col-9 necessaryheading">
                         <h5>Nauðsynlegar vafrakökur – geta ekki verið afskráðar</h5>
                     </div>
                         <!-- Toggle Switch -->
                     <div class="col-3 setChoice">
                         <label class="onoff-switch">
                             <input type="checkbox" id="necessaryCheckbox" checked disabled>
                             <span class="onoff-slider"></span>
                         </label>
                     </div>
                 </div>
                 
                 <div class="necessarycontent">
                     <p>
                         Nauðsynlegar vafrakökur eru notaðar fyrir grundvallaratriði eins og síðuflettingu og 
                         til að fá aðgang að varinni hlutum vefsíðunnar. Vefsíðan getur ekki starfað fullnægjandi án þessara kökum.
                     </p>
                 </div>
             </div>
             <div class="marketing">
                 <div class="row necesarryHeadingSetting">
                     <div class="col-9 necessaryheading">
                         <h5>Markaðssetning</h5>
                     </div>
                     <div class="col-3 setChoice">
                         <!-- Toggle Switch -->
                         <label class="onoff-switch">
                             <input type="checkbox" id="marketingCheckBox" checked>
                             <span class="onoff-slider"></span>
                         </label>
                     </div>
                 </div>
 
                 <div class="necessarycontent">
                     <p>
                         Þessi vafrakaka hjálpar okkur að finna notendur sem hafa áhuga á upplýsingum um mismunandi efni, svo við 
                         getum veitt þér viðeigandi auglýsingar.
                     </p>
                 </div>
 
             </div>
             <div class="d-flex justify-content-between">
                 <button type="button" class="btn btn-success" id="saveAndCloseCookies">Vista breytingar og loka</button>
                 <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lesa meira</button>
             </div>
         </div>
     </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Hafðu samband við okkur</h4>
                    <p>Netfang: star@peachgroup.no</p>
                    <p>Sími: (+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Fylgdu okkur á</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/WeThePeopleCompany" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/the.peoplecompany/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/the.peoplecompany/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-group-as/?originalSubdomain=no" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Skráðu þig á fréttabréfið okkar</h4>
                    <p>Haltu þér uppfærð/ur með nýjustu fréttum okkar og herferðum.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Sláðu inn netfang þitt">
                        <button type="submit" class="subscribeNews" data-language="Icelandic">Skráðu þig</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Öll réttindi áskilin.</p>
        </div>
    </footer>
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
  <script src="../../public/js/header.js"></script>
  <script src="../../public/js/MessageSystem.js"></script>

  
  <script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'is');
    });
</script>
    
</body>
</html>