<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peach People - Privacy Policy</title>
    <link rel="icon" type="image/png" href="../../img/logo.png"/>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/privacy.css">
    <link rel="stylesheet" href="../../public/css/MessageSystem.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="sticky-top bg-white py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="../../img/Peach_people.png" alt="Logo" class="logo-img mr-2">
                <span class="company-slogan">Global Communication</span>
            </div>
            <nav>
                <ul class="nav nav-list">
                    <li class="nav-item"><a href="index.html" class="nav-link">Heim</a></li>
                    <li class="nav-item"><a href="career.html" class="nav-link">Laus störf</a></li>
                    <li class="nav-item active"><a href="contact-us.html" class="nav-link">Hafðu samband</a></li>
                    <li class="nav-item dropdown language">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tungumál</a>
                        <ul class="dropdown-menu language-dropdown">
                            <li><a href="../no/index.html">Norska</a></li>
                            <li><a href="../sv/index.html">Sænsku</a></li>
                            <li><a href="../fi/index.html">Finnska</a></li>
                            <li><a href="../da/index.html">Danska</a></li>
                            <li><a href="../is/index.html">íslenskur</a></li>
                            <li><a href="../de/index.html">þýska</a></li>
                            <li><a href="../fr/index.html">Franska</a></li>
                            <li><a href="../en/index.html">Enska</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h1>Persónuverndarstefna</h1>
            </div>
            <div class="content">
                <h2>Inngangur</h2>
                <p>Þessi yfirlýsing lýsir hvaða persónuupplýsingum við söfnum, hvernig við notum þær og hvaða valmöguleika þú hefur. Peach People á fyrirtækjaprofíla á Facebook og LinkedIn. Þeir eru notaðir í markaðssetningu. Við söfnum ekki upplýsingum um fylgjendur okkar eða þá sem gera athugasemdir við það sem við deilum. Upplýsingar sem LinkedIn og Facebook skrá og deila með okkur byggja á almennri þýðingarfræði og tölfræði svo að við getum aðlagast efni okkar betur.  
                </p>
            </div>
            <div class="content">
                <h2>Dreifing og miðlun persónuupplýsinga</h2>
                <p>
                    Við söfnum upplýsingum frá þér þegar þú heimsækir og framkvæmir aðgerðir á vefsíðu okkar. Við notum þessar upplýsingar til að veita þér þjónustu sem þú hefur beðið um. Við notum kökur (eins og Google Analytics) til að veita betri upplifun, bæta vefsíðu okkar og vefmerki og sambærilega tæki til að fylgjast með notkunarmynstrum og framkvæma markaðssetningu.  
                </p>
                <br>
                <p>
                    Þú getur fengið aðgang að gögnum þínum, breytt þeim, niðurhalað þeim eða afturkallað samþykki þitt með því að skoða reikninginn þinn. Nema þeirri tilgangi sem er skilgreindur hér að neðan, munum við ekki viðskipta, deila eða selja persónuupplýsingum þínum með öðrum. 
                </p>
                    
                <br>
                <p>
                    Skoðaðu stefnuna fyrir nákvæmar upplýsingar. Persónuverndarstefna okkar tekur tillit til kröfna sem settar eru í <a href="https://gdpr-info.eu/" class="linkpages">General Data Protection Regulation</a> ("GDPR"). Ef þú ert með búsetu í ESB (Evrópska efnahagssvæðinu) þá munum við ekki flytja persónuupplýsingar þínar. 
                </p>
                <br>
                <p>
                    Ef þú hefur einhverjar spurningar um persónuverndarstefnu okkar, hafðu samband við okkur á <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>  
   
            </div>
            <div class="content">
                <h2>Upplýsingar um vafrakökur</h2>
                <p>
                    Vafrakökur eru smáar gagnaskrár sem sendast frá netþjóni til vafra þíns. Þær eru geymdar í flótta minni vafrans þíns og gera vefsvæði eða þriðja aðila kleift að þekkja vafrann þinn. Það eru þrjár megingerðir vafrakaka: 
                </p>
                <br>
                <p>
                    Setukökur eru tengdar ákveðnum heimsóknum og geyma upplýsingar þegar þú skoðar mismunandi síður svo þú þurfir ekki að endurgefa þær þegar þú skiptir um síðu eða reynir að ganga frá kaupum. Setukökur renna út og eyða sér sjálfkrafa eftir stuttan tíma, t.d. þegar þú yfirgefur vefsíðuna eða lýkur vafrasetu.  
                </p>
                <br>
                <p>
                    Varanlegar kökur muna ákveðnar upplýsingar um það hvernig þú vilt skoða vefsíðuna og gera Peach People kleift að þekkja þig þegar þú heimsækir aftur. Varanlegar kökur eru geymdar í flótta minni vafrans þíns eða á síma þínum þar til þú ákveður að eyða þeim eða þær renna út.  
                </p>
                <br>
                <p>
                    Þriðja aðila kökur eru settar af öðrum en Peach People og kunna að fylgjast með því hvernig þú ferð um á mismunandi vefsíðum yfir langan tíma. Þær eru oftast varanlegar kökur og eru geymdar þar til þú eyðir þeim eða þær renna út.  
                </p>
                <br>
                <p>
                    Vafrakökur geyma upplýsingar um notkun þinni, en eru gagnlegar þar sem þær gera kleift að nota ákveðna virkni, eins og að ganga frá kaupum eða skrá þig inn, og leyfa okkur að sérsníða upplifun þinni. Þú getur breytt stillingum vafrans þíns svo þú getir stjórnað því hvernig vafrakökur verða meðhöndlunar, þar á meðal hvernig þú meðhöndlar kökur frá þriðja aðila. 
                </p>
            </div>
            <div class="content">
                <h2>Google Analytics</h2>
                <p>
                    Við notum Google Analytics til að mæla heildarárangur vefsíðunnar okkar. Google Analytics safnar aðeins IP-tölu sem er þér úthlutað þegar þú heimsækir þessa síðu, en ekki nafni þínu eða öðrum þekktum upplýsingum. Við sameinum ekki upplýsingarnar sem við söfnum með Google Analytics með persónulega þekktum upplýsingum. 
                </p>
                <br>
                <p>
                    Við notum einnig Google's DoubleClick auglýsingarnet til að fá heildarupplýsingar um lýðfræði og áhuga á notendum okkar. Við höfum engan hátt til að tengja þessa heildarupplýsingar við persónulegar upplýsingar og notum einungis þessar upplýsingar frá Google til að skilja betur þá sem heimsækja vefsíðuna okkar og fínstillum markaðsáætlun okkar meðan við halda kostnaði okkar og stjórnsýslukostnaði lágum. 
                </p>
                <br>
                <p>
                    Þótt Google Analytics setji varanlega köku í vafrann þinn til að þekkja þig sem einstakan notanda þegar þú heimsækir þessa síðu aftur, getur aðeins Google notað þessa köku. Möguleika Google á að nota og deila upplýsingum sem Google Analytics hefur safnað um heimsóknir þínar á þessari síðu er takmarkaður af <a href="https://marketingplatform.google.com/about/analytics/terms/us/" class="linkpages">Google Analytics notandaskilmálum</a> og <a href="https://policies.google.com/privacy" class="linkpages">verndarstefnu Google.</a> Þú getur lesið meira um Google Analytics-kökur, breytt stillingum þínum fyrir <a href="https://myadcenter.google.com/home?sasb=true&ref=ad-settings" class="linkpages">Google Auglýsingar</a>, eða þú getur valið að skrá þig út úr Google Auglýsingum. Auk þess býður Google upp á Google Analytics útskráningareiningu fyrir vafra. 
                </p>
            </div>
            <div class="content">
                <h2>GDPR</h2>
                <p>
                    <a href="https://gdpr-info.eu/" class="linkpages">Almenna gagnaáætlunin</a> (GDPR), lög sem <a href="https://groups.google.com/a/annascosmetics.com/g/deoxycholic-acid/c/MfjUV4jP3J4/m/QooIm_3tAAAJ?pli=1" class="linkpages">voru samþykkt af EB</a>, hafa það að markmiði að tryggja að upplýsingum sé gætt og persónuvernd sé tryggð með því að nota örugga aðferð, leyfi frá einstaklingum og skýrari persónuverndarstefnu. Vegna þess hvernig Peach People hefur alltaf lagt áherslu á öryggi vorum við nú þegar búin að undirbúa okkur fyrir mörgum þáttum GDPR. Þessi síða lýsir þeim skrefum sem Peach People tók til að undirbúa sig fyrir GDPR og þeim skrefum sem það heldur áfram að taka nú þegar reglugerðin er í gildi.
                </p>
                <br>
                <h6>Öryggi </h6>
                <p>
                    Frá fyrsta degi hefur Peach People verið stolt af því að vernda upplýsingar notenda. Í undirbúningi GDPR tókum við tækifærið til að endurskoða innanríkis "Upplýsinga- og tækniöryggisstefnu" okkar og veittum starfsfólki okkar endurnýaða þjálfun í upplýsingatækniöryggi. Þessi stefna hefur þau tæki og ferli sem þarf til að tryggja að upplýsingar þínar séu öruggar.
                </p>
                <br>
                <h6>Réttindi einstaklinga</h6>
                <p>
                    Einstaklingar hafa ákveðna viðbótarrettindi skv. GDPR:
                </p>
                <ul>
                    <li>
                        <strong>Réttur til eyðingar:</strong> 
                        Einstaklingur getur óskað eftir því að stofnun eyði öllum upplýsingum um viðkomandi einstakling án óþarfar tafs. Þú getur lagt fram beiðni um að verða "gleymdur" með því að skrifa til  <a href="mailto:star@peachgroup.com" class="linkpages">star@peachgroup.com</a>.
                    </li>
                    <li>
                        <strong>Réttur til mótmæla:</strong> 
                        Einstaklingur getur mótmælt ákveðinni meðferð gagna með því að vera með eða án ákveðinna starfsemi. Þú getur skoðað stillingar þínar um persónuvernd með því að smella á "Stillingar" tengilinn í tölvupósti frá okkur.
                    </li>
                    <li>
                        <strong>Réttur til takmarkunar:</strong> 
                        Einstaklingur getur beðið um að meðferð gagna verði takmörkuð. Þú getur skoðað stillingar þínar um persónuvernd með því að smella á "Stillingar" tengilinn í tölvupósti frá okkur.
                    </li>
                    <li>
                        <strong>Réttur til leiðréttingar:</strong> 
                        Einstaklingar geta beðið um að ófullkomnar upplýsingar verði lagaðar eða að rangar upplýsingar verði leiðréttar.
                    </li>
                    <li>
                        <strong>Aðgangsrettur:</strong> 
                        Einstaklingar hafa rétt til að vita hvaða gagna um þá er meðhöndlunar og hvernig. Við mælum með því að þú kynnir þér persónuverndarstefnu okkar.
                    </li>
                    <li>
                        <strong>Réttur til flutnings:</strong> 
                        Einstaklingar geta óskað eftir því að persónuupplýsingar sem ein stofnun hefur verði fluttar til annarrar stofnunar. Þú getur óskað eftir útflutningi gagna þinna með því að skrifa til<a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>.
                    </li>
                </ul>
                <br>
                <h6>Fulltrúi í EB </h6>
                <p>
                    Fyrir þá sem búa í Evrópubandalaginu hefur Peach People skipað Peach Group AS sem fulltrúa Peach People í EB skv. 27. gr. GDPR.
                </p>
                <br>
                <h6>Þjálfun starfsfólks </h6>
                <p>
                    Við höfum framkvæmt þjálfun starfsfólks í bestu aðferðum varðandi öryggi og persónuvernd og ætlum að halda áfram að þjálfa allt starfsfólk Peach People og sjálfboðaliða reglulega. 
                </p>
                <br>
                <h6>Spurningar? Hafðu samband </h6>
                <p>
                    Þú getur haft samband við okkur með því að nota "Hafðu samband" tenglana á endanum á vefsíðu okkar eða með því að senda tölvupóst á <a href="mailto:star@peachgroup.no" class="linkpages">star@peachgroup.no</a>
                </p>
            </div>
        </div>
    </main>
    
    
     <!-- Cookie Consent Modal -->
     <div id="cookieConsent">
         <div class="container">
             <div class="cookieheading">
                 <h4>Þessi síða notar vafrakökur</h4>
             </div>
             <div class="cookiecontent">
                 <p>
                     Á síðu okkar notum við vafrakökur til að bæta notendaupplifun, hámarka vefsíðu og fyrir markaðssetningu.
                     Með því að samþykkja samþykkir þú hvernig við notum vafrakökur.
 
                 </p>
             </div>
             <div id="cookieConsentButtons">
                 <button type="button" class="btn btn-success" id="acceptBtn">Samþykkja</button>
                 <button type="button" class="btn btn-danger" id="rejectBtn">Hafna</button>
                 <button type="button" class="btn" id="customizeBtn">Sérsníða vafrakökur</button>
             </div>
         </div>
     </div>
     <div class="customizecookie d-none">
         <div class="container">
             <div class="cookieheading cookiHeadingForCustomize">
                 <h4>Þessi síða notar vafrakökur</h4>
             </div>
             <div class="necessarycookie">
                 <div class="row necesarryHeadingSetting">
                     <div class="col-9 necessaryheading">
                         <h5>Nauðsynlegar vafrakökur – geta ekki verið afskráðar</h5>
                     </div>
                         <!-- Toggle Switch -->
                     <div class="col-3 setChoice">
                         <label class="onoff-switch">
                             <input type="checkbox" id="necessaryCheckbox" checked disabled>
                             <span class="onoff-slider"></span>
                         </label>
                     </div>
                 </div>
                 
                 <div class="necessarycontent">
                     <p>
                         Nauðsynlegar vafrakökur eru notaðar fyrir grundvallaratriði eins og síðuflettingu og 
                         til að fá aðgang að varinni hlutum vefsíðunnar. Vefsíðan getur ekki starfað fullnægjandi án þessara kökum.
                     </p>
                 </div>
             </div>
             <div class="marketing">
                 <div class="row necesarryHeadingSetting">
                     <div class="col-9 necessaryheading">
                         <h5>Markaðssetning</h5>
                     </div>
                     <div class="col-3 setChoice">
                         <!-- Toggle Switch -->
                         <label class="onoff-switch">
                             <input type="checkbox" id="marketingCheckBox" checked>
                             <span class="onoff-slider"></span>
                         </label>
                     </div>
                 </div>
 
                 <div class="necessarycontent">
                     <p>
                         Þessi vafrakaka hjálpar okkur að finna notendur sem hafa áhuga á upplýsingum um mismunandi efni, svo við 
                         getum veitt þér viðeigandi auglýsingar.
                     </p>
                 </div>
 
             </div>
             <div class="d-flex justify-content-between">
                 <button type="button" class="btn btn-success" id="saveAndCloseCookies">Vista breytingar og loka</button>
                 <button type="button" class="btn readMorePrivacyBtn" id="readMorePrivacy">Lesa meira</button>
             </div>
         </div>
     </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Hafðu samband við okkur</h4>
                    <p>Netfang: star@peachgroup.no</p>
                    <p>Sími: (+47) 982 34 223</p>
                </div>
                <div class="col-md-4">
                    <h4>Fylgdu okkur á</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61550771313894" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@peachpeoplenorge" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/peachpeoplenorge/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/peach-people-norge/about/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Skráðu þig á fréttabréfið okkar</h4>
                    <p>Haltu þér uppfærð/ur með nýjustu fréttum okkar og herferðum.</p>
                    <form class="subscribe-form">
                        <input type="email" id="newsletter" placeholder="Sláðu inn netfang þitt">
                        <button type="submit" class="subscribeNews" data-language="Icelandic">Skráðu þig</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">&copy; 2023 Peach People. Öll réttindi áskilin.</p>
        </div>
    </footer>
<!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../vendors/bootstrap/bootstrap.min.js"></script>
<script src="../../public/js/header.js"></script>  
<script src="../../public/js/MessageSystem.js"></script> 

<script>
    $(document).ready(function() {
        sessionStorage.setItem('selectedLanguage', 'is');
    });
</script>
</body>
</html>